/*
Theme Name: BreakFast Gourmet-v2
Theme URI: www.domain.com
Author: Shekh Kamal
Author URI: www.shekhkamal.com
Description: Custom Theme for Joepicko
Version: 0.1
License: GNU General Public License
License URI: license.txt
Tags: bootstrap, _s, _strap

Based on _strap [https://github.com/ptbello/_strap], a mashup of _s [https://github.com/Automattic/_s] and Bootstrap [https://github.com/twitter/bootstrap]
*/
/*!
 * Bootstrap v3.3.5 (http://getbootstrap.com)
 * Copyright 2011-2015 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
/* MAIN THEME COLOR */
/* PARAGRAPH DEFAULT COLOR */
/* HEADING COLOR */
/* LINK COLOR */
/* BUTTON */
@import url(includes/css/sk-social-font.css);
@import url(includes/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);
/* line 1, scss/components/_reset.scss */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 91, scss/components/_reset.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* line 105, scss/components/_reset.scss */
body {
  line-height: 1.55;
}

/* line 109, scss/components/_reset.scss */
ol,
ul {
  list-style: none;
}

/* line 114, scss/components/_reset.scss */
blockquote,
q {
  quotes: none;
}

/* line 119, scss/components/_reset.scss */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

/* line 127, scss/components/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'bebas-reg';
  src: url("includes/fonts/bebas-reg.ttf") format("truetype");
}
@font-face {
  font-family: 'bebas-bold';
  src: url("includes/fonts/bebas-bold.ttf") format("truetype");
}
/* float clearing for everyone else */
/* line 23, scss/components/_base.scss */
.clearfix:after, .logo-container ul:after, section.mobile-screen:after, section.mobile-screen .mobile-menu-wrapper:after, #modal-country-switch ul:after, .trainer-module:after, .trainer-module__wrapper:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  font-size: 0;
}

/* line 32, scss/components/_base.scss */
body {
  font-family: "Open Sans", sans-serif;
}

/* Text meant only for screen readers */
/* line 37, scss/components/_base.scss */
.screen-reader-text {
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
}
/* line 42, scss/components/_base.scss */
.screen-reader-text:hover, .screen-reader-text:focus, .screen-reader-textactive {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
}

/* line 64, scss/components/_base.scss */
.widget-pattern {
  background: url(includes/pattern.png) !important;
  height: 20px;
  margin-left: 30px !important;
}
@media screen and (max-width: 991px) {
  /* line 64, scss/components/_base.scss */
  .widget-pattern {
    display: none;
  }
}

@media screen and (max-width: 991px) {
  /* line 73, scss/components/_base.scss */
  .et_pb_widget_area {
    display: none !important;
  }
}
/* line 77, scss/components/_base.scss */
.et_pb_widget_area h1 {
  font-size: 1.35em !important;
}
/* line 81, scss/components/_base.scss */
.et_pb_widget_area ul li {
  padding: 5px 0;
}
/* line 83, scss/components/_base.scss */
.et_pb_widget_area ul li a {
  padding-top: 5px;
  color: #501b00 !important;
  border-top: 1px solid #eeeeee;
}

/* line 93, scss/components/_base.scss */
.custom-form-style input, .custom-form-style textarea, .custom-form-style select, .custom-form-style #skh_contact_form_wrapper textarea, #skh_contact_form_wrapper .custom-form-style textarea, .custom-form-style #skh_contact_form_wrapper select, #skh_contact_form_wrapper .custom-form-style select {
  border: none;
  border-bottom: 2px solid #ccc;
  padding-right: 10px;
  padding: 10px 0;
  width: 100% !important;
  margin-bottom: 15px !important;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
/* line 101, scss/components/_base.scss */
.custom-form-style input:hover, .custom-form-style textarea:hover, .custom-form-style select:hover, .custom-form-style #skh_contact_form_wrapper textarea:hover, #skh_contact_form_wrapper .custom-form-style textarea:hover, .custom-form-style #skh_contact_form_wrapper select:hover, #skh_contact_form_wrapper .custom-form-style select:hover, .custom-form-style input:focus, .custom-form-style textarea:focus, .custom-form-style select:focus, .custom-form-style #skh_contact_form_wrapper textarea:focus, #skh_contact_form_wrapper .custom-form-style textarea:focus, .custom-form-style #skh_contact_form_wrapper select:focus, #skh_contact_form_wrapper .custom-form-style select:focus {
  border-color: #222;
}
/* line 106, scss/components/_base.scss */
.custom-form-style textarea {
  border: 2px solid #ccc;
  padding: 15px;
  border-radius: 3.5px;
  margin-top: 10px;
}
/* line 113, scss/components/_base.scss */
.custom-form-style .ninja-forms-required-items {
  display: none;
}
/* line 116, scss/components/_base.scss */
.custom-form-style label {
  font-size: 1.3em !important;
  color: #222222 !important;
  letter-spacing: 0.1em;
  margin-top: 10px;
  font-weight: normal !important;
  font-family: "bebas-bold" !important;
  display: block;
}
/* line 125, scss/components/_base.scss */
.custom-form-style input[type="button"], .custom-form-style textarea[type="button"], .custom-form-style select[type="button"], .custom-form-style #skh_contact_form_wrapper textarea[type="button"], #skh_contact_form_wrapper .custom-form-style textarea[type="button"], .custom-form-style #skh_contact_form_wrapper select[type="button"], #skh_contact_form_wrapper .custom-form-style select[type="button"] {
  text-transform: uppercase;
  background-color: #fdb813;
  border: none !important;
}
/* line 129, scss/components/_base.scss */
.custom-form-style input[type="button"]:hover, .custom-form-style textarea[type="button"]:hover, .custom-form-style select[type="button"]:hover, .custom-form-style #skh_contact_form_wrapper textarea[type="button"]:hover, #skh_contact_form_wrapper .custom-form-style textarea[type="button"]:hover, .custom-form-style #skh_contact_form_wrapper select[type="button"]:hover, #skh_contact_form_wrapper .custom-form-style select[type="button"]:hover {
  color: white;
  background-color: #501b00;
}
/* line 134, scss/components/_base.scss */
.custom-form-style select {
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 10px;
}
/* line 140, scss/components/_base.scss */
.custom-form-style input[type="radio"], .custom-form-style textarea[type="radio"], .custom-form-style select[type="radio"], .custom-form-style #skh_contact_form_wrapper textarea[type="radio"], #skh_contact_form_wrapper .custom-form-style textarea[type="radio"], .custom-form-style #skh_contact_form_wrapper select[type="radio"], #skh_contact_form_wrapper .custom-form-style select[type="radio"] {
  display: inline-block !important;
  width: auto !important;
  margin-right: 10px !important;
}

/* line 147, scss/components/_base.scss */
.et_pb_with_background {
  background-position: right top !important;
}

@media (max-width: 991px) {
  /* line 158, scss/components/_base.scss */
  .widget-pattern {
    margin-left: 0px !important;
  }

  /* line 161, scss/components/_base.scss */
  .et_divi_builder #et_builder_outer_content .et_pb_section {
    padding: 5px 0 !important;
  }
}
/* line 166, scss/components/_base.scss */
.mobile-banner {
  min-height: 400px;
}
@media screen and (max-width: 500px) {
  /* line 166, scss/components/_base.scss */
  .mobile-banner {
    min-height: 280px;
  }
}

/* line 1, scss/components/_typography.scss */
body {
  font-size: 1.5em;
}

/* line 5, scss/components/_typography.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "bebas-bold" !important;
  line-height: 1.3em;
}

/* line 15, scss/components/_typography.scss */
h1 {
  font-size: 3.5em;
}
@media screen and (max-width: 991px) {
  /* line 15, scss/components/_typography.scss */
  h1 {
    font-size: 3em;
  }
}
@media screen and (max-width: 767px) {
  /* line 15, scss/components/_typography.scss */
  h1 {
    font-size: 2.2em;
  }
}
@media screen and (max-width: 500px) {
  /* line 15, scss/components/_typography.scss */
  h1 {
    font-size: 1.8em;
  }
}

@media screen and (max-width: 991px) {
  /* line 28, scss/components/_typography.scss */
  h3 {
    font-size: 1.2em;
  }
}

/* line 34, scss/components/_typography.scss */
p {
  line-height: 1.6em;
  font-size: 1.05em;
}

/* line 39, scss/components/_typography.scss */
.primary-header h1 {
  font-size: 3em;
}
@media screen and (max-width: 991px) {
  /* line 39, scss/components/_typography.scss */
  .primary-header h1 {
    font-size: 2.5em;
    padding-top: 8%;
  }
}
@media screen and (max-width: 767px) {
  /* line 39, scss/components/_typography.scss */
  .primary-header h1 {
    font-size: 2em;
    padding-top: 10%;
  }
}
@media screen and (max-width: 500px) {
  /* line 39, scss/components/_typography.scss */
  .primary-header h1 {
    font-size: 1.5em;
    padding-top: 15%;
  }
}

/* line 63, scss/components/_typography.scss */
.inner-page-header h1 {
  font-size: 7em;
}
@media screen and (max-width: 991px) {
  /* line 63, scss/components/_typography.scss */
  .inner-page-header h1 {
    font-size: 4em;
    padding-top: 13%;
  }
}
@media screen and (max-width: 767px) {
  /* line 63, scss/components/_typography.scss */
  .inner-page-header h1 {
    font-size: 3em;
    padding-top: 20%;
  }
}
@media screen and (max-width: 500px) {
  /* line 63, scss/components/_typography.scss */
  .inner-page-header h1 {
    font-size: 2em;
    padding-top: 55%;
  }
}

/* line 88, scss/components/_typography.scss */
.secondary-header h3 {
  font-size: 2em;
  margin-bottom: 1em !important;
}
@media screen and (max-width: 767px) {
  /* line 88, scss/components/_typography.scss */
  .secondary-header h3 {
    margin-bottom: 5px !important;
  }
}
/* line 103, scss/components/_typography.scss */
.secondary-header h4 {
  font-size: 2em;
  letter-spacing: 0.1em;
  line-height: 1.2;
  font-family: "bebas-reg" !important;
}
@media screen and (max-width: 500px) {
  /* line 103, scss/components/_typography.scss */
  .secondary-header h4 {
    font-size: 1.5em;
  }
}
/* line 112, scss/components/_typography.scss */
.secondary-header h5 {
  font-size: 1.7em;
  line-height: 1.2;
  font-family: "bebas-reg" !important;
}

/* line 121, scss/components/_typography.scss */
.para a {
  text-decoration: none;
  border-bottom: solid 3px #501b00;
}
/* line 124, scss/components/_typography.scss */
.para a:hover {
  text-decoration: none;
  color: #501b00;
}

/* line 132, scss/components/_typography.scss */
.news-blog-post h1 {
  font-size: 2em;
  margin-top: 10%;
  margin-bottom: 1em !important;
}
@media screen and (max-width: 767px) {
  /* line 132, scss/components/_typography.scss */
  .news-blog-post h1 {
    margin-top: 15%;
  }
}
@media screen and (max-width: 500px) {
  /* line 132, scss/components/_typography.scss */
  .news-blog-post h1 {
    margin-top: 95px;
    font-size: 1.8em;
  }
}

/* line 1, scss/components/_landing-page.scss */
#home-page-template {
  height: 100%;
  padding: 20px;
}

/* line 7, scss/components/_landing-page.scss */
.header-wrapper a {
  color: #fff;
}
/* line 10, scss/components/_landing-page.scss */
.header-wrapper .header-logo .img-responsive {
  max-height: 70px;
}
@media screen and (max-width: 500px) {
  /* line 10, scss/components/_landing-page.scss */
  .header-wrapper .header-logo .img-responsive {
    max-height: 45px;
  }
}
/* line 16, scss/components/_landing-page.scss */
.header-wrapper li {
  display: inline-block;
}
@media (max-width: 380px) {
  /* line 16, scss/components/_landing-page.scss */
  .header-wrapper li {
    display: block;
    text-align: center;
  }
  /* line 21, scss/components/_landing-page.scss */
  .header-wrapper li img {
    display: block;
    margin: 0 auto;
  }
}
/* line 26, scss/components/_landing-page.scss */
.header-wrapper li:last-child {
  float: right;
  margin-top: 20px;
  font-family: "bebas-bold" !important;
  font-size: 22px;
}
@media (max-width: 380px) {
  /* line 26, scss/components/_landing-page.scss */
  .header-wrapper li:last-child {
    float: none;
    clear: both;
    display: block;
    text-align: center;
  }
}
@media screen and (max-width: 500px) {
  /* line 26, scss/components/_landing-page.scss */
  .header-wrapper li:last-child {
    margin-top: 5px;
  }
}
@media (max-width: 380px) {
  /* line 26, scss/components/_landing-page.scss */
  .header-wrapper li:last-child {
    margin-top: 45px;
  }
}

/* line 47, scss/components/_landing-page.scss */
.logo-container {
  margin-top: 15% !important;
  color: #fff !important;
}
@media screen and (max-width: 500px) {
  /* line 47, scss/components/_landing-page.scss */
  .logo-container {
    margin-top: 85px !important;
  }
}
@media (max-width: 380px) {
  /* line 47, scss/components/_landing-page.scss */
  .logo-container {
    margin-top: 50px !important;
  }
}
/* line 56, scss/components/_landing-page.scss */
.logo-container h1 {
  font-size: 40px !important;
  font-family: "bebas-bold" !important;
  text-transform: uppercase;
  font-weight: thin;
}
@media screen and (max-width: 500px) {
  /* line 56, scss/components/_landing-page.scss */
  .logo-container h1 {
    font-size: 25px !important;
  }
}
/* line 65, scss/components/_landing-page.scss */
.logo-container ul {
  margin-top: 35px;
  text-align: center;
  display: block;
}
/* line 70, scss/components/_landing-page.scss */
.logo-container ul li {
  display: inline-block;
  margin: 0 20px;
}
@media screen and (max-width: 500px) {
  /* line 70, scss/components/_landing-page.scss */
  .logo-container ul li {
    width: 50%;
    float: left;
    margin: 0px;
  }
}
/* line 78, scss/components/_landing-page.scss */
.logo-container ul li a {
  color: #ffffff;
}

/* CSS FOR THE MENU----------------------------------------------------------------------------- */
/* line 3, scss/components/_header.scss */
.site-navigation {
  font-family: "bebas-bold" !important;
  font-size: 1.25em !important;
}
@media screen and (max-width: 991px) {
  /* line 3, scss/components/_header.scss */
  .site-navigation {
    display: none;
  }
}
/* line 10, scss/components/_header.scss */
.site-navigation .header-logo .img-responsive {
  max-height: 75px;
  margin-top: 8px;
}
/* line 14, scss/components/_header.scss */
.site-navigation .navbar {
  position: relative;
  min-height: 50px;
  margin-bottom: 0px;
  border: 0px solid #333;
  /*Border for navbar*/
  border-radius: 0px;
  /*Main radius navbar*/
}
/* line 23, scss/components/_header.scss */
.site-navigation .navbar-default .navbar-nav > li:not(:last-child) > a {
  color: #501b00;
  padding-top: 25px;
  padding-bottom: 25px;
  padding: 35px 20px;
  letter-spacing: 1px;
  background-size: 100% 200%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, #ffffff 50%);
  transition: background-position 0.3s;
  /* List color in Normal state */
}
/* line 36, scss/components/_header.scss */
.site-navigation .navbar-default {
  background-color: transparent;
  /* Background Color for navbar Body*/
}
/* line 40, scss/components/_header.scss */
.site-navigation .navbar-default .navbar-nav > .active > a,
.site-navigation .navbar-default .navbar-nav > .active > a:hover,
.site-navigation .navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #501b00;
  background-position: 0 -100%;
}
/* line 46, scss/components/_header.scss */
.site-navigation .navbar-default .navbar-nav > .active > a:before,
.site-navigation .navbar-default .navbar-nav > .active > a:hover:before,
.site-navigation .navbar-default .navbar-nav > .active > a:focus:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-top: 3px solid #501b00;
}
/* line 56, scss/components/_header.scss */
.site-navigation .navbar-default .navbar-nav > li:not(:last-child) > a:hover,
.site-navigation .navbar-default .navbar-nav > li:not(:last-child) > a:focus {
  background-position: 0 -100%;
}
/* line 60, scss/components/_header.scss */
.site-navigation .navbar-default .navbar-nav > li:not(:last-child) > a:hover:before,
.site-navigation .navbar-default .navbar-nav > li:not(:last-child) > a:focus:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-top: 3px solid #501b00;
}
/* line 70, scss/components/_header.scss */
.site-navigation .navbar-default .navbar-nav > .open > a,
.site-navigation .navbar-default .navbar-nav > .open > a:hover,
.site-navigation .navbar-default .navbar-nav > .open > a:focus {
  color: #fff;
  /* List color for Open Parent of Dropdown*  |  Active, Hover and Focus */
  background-color: #333;
  /* Background color of open parent  |  Active, Hover and Focus*/
  background-position: 0 -100%;
}
/* line 79, scss/components/_header.scss */
.site-navigation .sub-menu {
  display: none;
}
/* line 82, scss/components/_header.scss */
.site-navigation .menu-item-has-children {
  position: relative;
}
/* line 85, scss/components/_header.scss */
.site-navigation .menu-item-has-children a:after {
  font-family: 'FontAwesome';
  content: '\f107';
  margin-left: 10px;
}
/* line 92, scss/components/_header.scss */
.site-navigation .menu-item-has-children ul {
  position: absolute;
  background-color: #ffffff;
  padding: 0px 0px;
  min-width: 250px;
  z-index: 999;
}
/* line 100, scss/components/_header.scss */
.site-navigation .menu-item-has-children .sub-menu li {
  display: block;
}
/* line 103, scss/components/_header.scss */
.site-navigation .menu-item-has-children .sub-menu li a {
  padding: 15px 15px;
  display: block;
  color: #222222;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
/* line 108, scss/components/_header.scss */
.site-navigation .menu-item-has-children .sub-menu li a:after {
  content: '';
}
/* line 111, scss/components/_header.scss */
.site-navigation .menu-item-has-children .sub-menu li a:hover {
  text-decoration: none;
  color: #ffffff;
  background-color: #fdb813;
}
/* line 120, scss/components/_header.scss */
.site-navigation .menu-item-has-children .sub-menu .canada-icon:before {
  content: url("includes/canFlag.png");
  display: inline-block;
}
/* line 126, scss/components/_header.scss */
.site-navigation .menu-item-has-children .sub-menu .us-icon:before {
  content: url("includes/USFlag.png");
  display: inline-block;
}
/* line 132, scss/components/_header.scss */
.site-navigation .menu-item-has-children .sub-menu .uk-icon:before {
  content: url("includes/UKFlag.png");
  display: inline-block;
}
@media (max-width: 991px) {
  /* line 140, scss/components/_header.scss */
  .site-navigation .site-navigation {
    font-size: 1em !important;
  }
  /* line 143, scss/components/_header.scss */
  .site-navigation .navbar-default .navbar-nav > li:not(:last-child) > a {
    padding: 25px 10px;
    letter-spacing: 1px;
  }
}
/* line 148, scss/components/_header.scss */
.site-navigation .mobile-btn {
  position: absolute;
  top: 14px;
  right: 55px;
  display: none;
}
@media (max-width: 767px) {
  /* line 155, scss/components/_header.scss */
  .site-navigation .mobile-btn {
    display: inline-block;
  }
  /* line 158, scss/components/_header.scss */
  .site-navigation #main-menu .book-btn {
    display: none;
  }
  /* line 161, scss/components/_header.scss */
  .site-navigation .navbar-default {
    /* Background Color for navbar Body*/
  }
  /* line 165, scss/components/_header.scss */
  .site-navigation .navbar-nav {
    background-color: #222222;
    padding-bottom: 15px;
  }
  /* line 169, scss/components/_header.scss */
  .site-navigation .site-navigation-inner {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  /* line 172, scss/components/_header.scss */
  .site-navigation .site-navigation-inner .header-logo .img-responsive {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
  }
  /* line 178, scss/components/_header.scss */
  .site-navigation .sub-menu {
    display: block;
  }
  /* line 181, scss/components/_header.scss */
  .site-navigation .menu-item-has-children {
    background-color: #222222 !important;
  }
  /* line 184, scss/components/_header.scss */
  .site-navigation .menu-item-has-children ul {
    position: relative;
    background-color: #ffffff !important;
  }
}

/* line 1, scss/components/_header-mobile.scss */
section.mobile-screen {
  position: fixed;
  width: 100%;
  background-color: #fff;
  padding: 10px 0;
  z-index: 99;
  display: none;
}
@media screen and (max-width: 991px) {
  /* line 1, scss/components/_header-mobile.scss */
  section.mobile-screen {
    display: block;
  }
}
/* line 15, scss/components/_header-mobile.scss */
section.mobile-screen .img-responsive {
  max-height: 40px;
}
@media screen and (max-width: 500px) {
  /* line 15, scss/components/_header-mobile.scss */
  section.mobile-screen .img-responsive {
    max-width: 90px;
    margin-top: 4px;
  }
}
/* line 22, scss/components/_header-mobile.scss */
section.mobile-screen ul.top-wrapper {
  padding: 0 15px;
}
/* line 24, scss/components/_header-mobile.scss */
section.mobile-screen ul.top-wrapper li {
  display: inline-block;
  vertical-align: middle;
  font-family: "bebas-bold" !important;
}
/* line 28, scss/components/_header-mobile.scss */
section.mobile-screen ul.top-wrapper li a {
  text-decoration: none !important;
  color: #501b00;
}
/* line 32, scss/components/_header-mobile.scss */
section.mobile-screen ul.top-wrapper li:nth-child(2n) {
  float: right;
}
/* line 35, scss/components/_header-mobile.scss */
section.mobile-screen ul.top-wrapper li:last-child {
  float: right;
  margin-top: 8px;
}
/* line 41, scss/components/_header-mobile.scss */
section.mobile-screen .toggleTopMenu-mobile {
  font-size: 25px;
  width: 23px;
  display: block;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  transition: all 0.5s ease;
}
/* line 46, scss/components/_header-mobile.scss */
section.mobile-screen .toggleTopMenu-mobile:before {
  font-family: 'FontAwesome';
  content: '\f0c9';
}
/* line 53, scss/components/_header-mobile.scss */
section.mobile-screen .toggleTopMenu-mobile.open:before {
  content: '\f00d';
}
/* line 57, scss/components/_header-mobile.scss */
section.mobile-screen .open-menu-mobile {
  height: 100% !important;
}
/* line 60, scss/components/_header-mobile.scss */
section.mobile-screen .mobile-menu-wrapper {
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 5;
  top: 58px;
  background-color: #fdb813;
  overflow-y: scroll;
  transition: 0.5s;
}
/* line 90, scss/components/_header-mobile.scss */
section.mobile-screen ul#mobile-menu {
  display: flex;
  flex-wrap: wrap;
}
/* line 93, scss/components/_header-mobile.scss */
section.mobile-screen ul#mobile-menu li {
  flex-basis: 50%;
  border-bottom: solid 1px #ffffff;
}
/* line 96, scss/components/_header-mobile.scss */
section.mobile-screen ul#mobile-menu li a {
  display: block;
  color: #ffffff;
  text-decoration: none;
  padding: 30px 0;
  text-align: center;
  font-family: "bebas-bold" !important;
  font-size: 1.25em !important;
  height: 100%;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 106, scss/components/_header-mobile.scss */
section.mobile-screen ul#mobile-menu li a:hover {
  background-color: #501b00;
}
/* line 112, scss/components/_header-mobile.scss */
section.mobile-screen ul#mobile-menu li:nth-child(odd) {
  border-right: solid 1px #ffffff;
}

/* line 119, scss/components/_header-mobile.scss */
.body-overflow {
  overflow: hidden !important;
}

/* line 1, scss/components/_site-switch.scss */
.current-site-flag {
  position: fixed;
  z-index: 1032;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
  margin-top: 23px;
  left: 180px;
}
@media screen and (max-width: 991px) {
  /* line 1, scss/components/_site-switch.scss */
  .current-site-flag {
    z-index: 999;
  }
}
@media screen and (max-width: 991px) {
  /* line 1, scss/components/_site-switch.scss */
  .current-site-flag {
    margin-top: 18px;
  }
}
@media screen and (max-width: 500px) {
  /* line 1, scss/components/_site-switch.scss */
  .current-site-flag {
    left: 115px;
  }
}
/* line 17, scss/components/_site-switch.scss */
.current-site-flag img {
  max-width: 30px;
}
/* line 22, scss/components/_site-switch.scss */
.current-site-flag i {
  color: #fff;
  font-size: 20px;
  vertical-align: top;
  margin-top: 2px;
  position: relative;
}

/* line 32, scss/components/_site-switch.scss */
#modal-country-switch .modal-dialog {
  margin: 55px auto !important;
}
/* line 35, scss/components/_site-switch.scss */
#modal-country-switch ul {
  text-align: center;
  margin: 15% 2%;
  display: block;
  position: relative;
}
@media screen and (max-width: 500px) {
  /* line 35, scss/components/_site-switch.scss */
  #modal-country-switch ul {
    margin: 1% 1%;
  }
}
/* line 44, scss/components/_site-switch.scss */
#modal-country-switch ul li {
  display: inline-block;
  margin: 0 20px;
}
@media screen and (max-width: 500px) {
  /* line 44, scss/components/_site-switch.scss */
  #modal-country-switch ul li {
    width: 50%;
    text-align: center;
    margin: 0px;
    float: left;
  }
}
/* line 55, scss/components/_site-switch.scss */
#modal-country-switch img {
  max-width: 55px;
}

/* line 1, scss/components/_footer.scss */
footer {
  padding-top: 50px;
  padding-bottom: 70px;
}
/* line 4, scss/components/_footer.scss */
footer h1 {
  font-size: 2.5em;
  margin-top: 20%;
  color: #ffffff;
}
@media screen and (max-width: 991px) {
  /* line 4, scss/components/_footer.scss */
  footer h1 {
    margin-top: 7%;
    margin-bottom: 20px;
    font-size: 1.8em;
  }
}
@media screen and (max-width: 500px) {
  /* line 4, scss/components/_footer.scss */
  footer h1 {
    font-size: 28px;
  }
}
/* line 25, scss/components/_footer.scss */
footer .loc-container {
  background-color: #ffffff;
  padding: 35px 35px;
}
/* line 28, scss/components/_footer.scss */
footer .loc-container h3 {
  font-size: 2em;
  color: #501b00;
  margin-top: 15px;
  margin-bottom: 10px;
}
/* line 34, scss/components/_footer.scss */
footer .loc-container .loc_list li a {
  font-size: 1.15em;
  letter-spacing: 0.05em;
  color: #222222;
  width: 100%;
  display: block;
  padding: 4px 0;
  font-family: "bebas-bold" !important;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
/* line 43, scss/components/_footer.scss */
footer .loc-container .loc_list li a:hover {
  background: #eee;
  padding-left: 0.5em;
  text-decoration: none;
}
@media (max-width: 700px) {
  /* line 50, scss/components/_footer.scss */
  footer .col-xs-4 {
    width: 100%;
    border-bottom: solid 1px #ddd;
    padding-bottom: 15px;
    margin-bottom: 15px;
    text-align: center;
  }
}

/* line 61, scss/components/_footer.scss */
.footer-info-bg {
  background-color: #fdb813;
  padding-top: 70px;
  padding-bottom: 70px;
}
@media screen and (max-width: 767px) {
  /* line 61, scss/components/_footer.scss */
  .footer-info-bg {
    padding-top: 30px;
    padding-bottom: 35px;
    text-align: center;
  }
}
/* line 70, scss/components/_footer.scss */
.footer-info-bg .divider-footer {
  border-top: 1px dotted rgba(255, 255, 255, 0.2);
  padding-bottom: 15px;
}
/* line 74, scss/components/_footer.scss */
.footer-info-bg p {
  color: #501b00;
}
@media screen and (max-width: 767px) {
  /* line 77, scss/components/_footer.scss */
  .footer-info-bg .footer_nav_list {
    text-align: center;
  }
}
/* line 81, scss/components/_footer.scss */
.footer-info-bg .footer_nav_list li {
  display: inline-block;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}
@media screen and (max-width: 991px) {
  /* line 81, scss/components/_footer.scss */
  .footer-info-bg .footer_nav_list li {
    font-size: 13px;
    padding-right: 12px;
  }
}
@media (max-width: 370px) {
  /* line 81, scss/components/_footer.scss */
  .footer-info-bg .footer_nav_list li {
    font-size: 13px;
    padding: 5px;
    display: block !important;
  }
}
/* line 95, scss/components/_footer.scss */
.footer-info-bg .footer_nav_list li a {
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: #222;
  font-weight: bold;
}
/* line 99, scss/components/_footer.scss */
.footer-info-bg .footer_nav_list li a:hover {
  color: #501b00;
  text-decoration: none;
}

/* line 108, scss/components/_footer.scss */
.social_icon_list {
  text-align: right;
}
@media screen and (max-width: 767px) {
  /* line 108, scss/components/_footer.scss */
  .social_icon_list {
    text-align: center;
    display: block;
  }
}
/* line 114, scss/components/_footer.scss */
.social_icon_list li {
  padding: 20px 15px;
}
@media screen and (max-width: 991px) {
  /* line 114, scss/components/_footer.scss */
  .social_icon_list li {
    font-size: 14px;
    padding-right: 5px;
    padding-left: 5px;
  }
}
/* line 121, scss/components/_footer.scss */
.social_icon_list li a {
  text-align: center;
  color: #501b00;
  z-index: 1;
  font-size: 1.3em;
  line-height: 2.2em;
  position: relative;
  width: 2em;
  height: 2em;
  display: inline-block;
  background-color: transparent;
  border-radius: 50%;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
/* line 134, scss/components/_footer.scss */
.social_icon_list li a:hover {
  background-color: #501b00;
  color: #fff;
  text-decoration: none;
}

@media (max-width: 991px) {
  /* line 144, scss/components/_footer.scss */
  footer {
    padding-top: 30px;
    padding-bottom: 70px;
  }
  /* line 148, scss/components/_footer.scss */
  footer .loc-container h3 {
    font-size: 1.3em;
  }
}
@media (max-width: 767px) {
  /* line 156, scss/components/_footer.scss */
  footer {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
/*--------------------------------------------------------------
Go to top button
--------------------------------------------------------------*/
/* line 5, scss/components/_go-top-icon.scss */
.go-top {
  position: fixed !important;
  right: 20px;
  bottom: -45px;
  color: #fff;
  /* Normal color*/
  display: block;
  font-size: 22px;
  line-height: 35px;
  text-align: center;
  width: 40px;
  height: 40px;
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  background-color: #501b00;
  /* Normal BG color*/
  z-index: 9999;
  cursor: pointer;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

/* line 37, scss/components/_go-top-icon.scss */
.go-top:hover {
  background-color: #111111;
  /* Hover BG color*/
  color: #fff;
  /* Hover color*/
}

/* line 44, scss/components/_go-top-icon.scss */
.go-top.show {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=1);
  opacity: 1;
  visibility: visible;
  bottom: 50px;
}

/* line 2, scss/components/_contact-form.scss */
#skh_contact_form_wrapper input, #skh_contact_form_wrapper textarea, #skh_contact_form_wrapper select {
  border: none;
  border-bottom: 2px solid #ccc;
  padding-right: 10px;
  padding: 10px 0;
  width: 100% !important;
  margin-bottom: 15px !important;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
/* line 10, scss/components/_contact-form.scss */
#skh_contact_form_wrapper input:hover, #skh_contact_form_wrapper textarea:hover, #skh_contact_form_wrapper select:hover, #skh_contact_form_wrapper input:focus, #skh_contact_form_wrapper textarea:focus, #skh_contact_form_wrapper select:focus {
  border-color: #222;
}
/* line 14, scss/components/_contact-form.scss */
#skh_contact_form_wrapper input::-moz-placeholder, #skh_contact_form_wrapper textarea::-moz-placeholder, #skh_contact_form_wrapper select::-moz-placeholder {
  color: transparent;
  opacity: 0;
  display: none;
}
/* line 19, scss/components/_contact-form.scss */
#skh_contact_form_wrapper input:-ms-input-placeholder, #skh_contact_form_wrapper textarea:-ms-input-placeholder, #skh_contact_form_wrapper select:-ms-input-placeholder {
  color: transparent;
  display: none;
}
/* line 23, scss/components/_contact-form.scss */
#skh_contact_form_wrapper input::-webkit-input-placeholder, #skh_contact_form_wrapper textarea::-webkit-input-placeholder, #skh_contact_form_wrapper select::-webkit-input-placeholder {
  color: transparent;
  display: none;
}
/* line 28, scss/components/_contact-form.scss */
#skh_contact_form_wrapper textarea {
  border: 2px solid #ccc;
  padding: 15px;
  border-radius: 3.5px;
  margin-top: 10px;
}
/* line 35, scss/components/_contact-form.scss */
#skh_contact_form_wrapper .ninja-forms-required-items {
  display: none;
}
/* line 38, scss/components/_contact-form.scss */
#skh_contact_form_wrapper label {
  font-size: 1.3em !important;
  color: #222222 !important;
  letter-spacing: 0.1em;
  margin-top: 10px;
  font-weight: normal !important;
  font-family: "bebas-bold" !important;
  display: block;
}
/* line 47, scss/components/_contact-form.scss */
#skh_contact_form_wrapper input[type="submit"], #skh_contact_form_wrapper textarea[type="submit"], #skh_contact_form_wrapper select[type="submit"] {
  text-transform: uppercase;
}
/* line 50, scss/components/_contact-form.scss */
#skh_contact_form_wrapper select {
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 10px;
}
/* line 56, scss/components/_contact-form.scss */
#skh_contact_form_wrapper input[type="radio"], #skh_contact_form_wrapper textarea[type="radio"], #skh_contact_form_wrapper select[type="radio"] {
  display: inline-block !important;
  width: auto !important;
  margin-right: 10px !important;
}
/* line 61, scss/components/_contact-form.scss */
#skh_contact_form_wrapper .newsletter {
  margin-bottom: 1.5rem;
  padding: 1rem;
  border: 2px dotted silver;
  border-radius: 3px;
  font-weight: 500;
  padding: 25px 15px;
}
/* line 68, scss/components/_contact-form.scss */
#skh_contact_form_wrapper .newsletter input, #skh_contact_form_wrapper .newsletter textarea, #skh_contact_form_wrapper .newsletter select {
  display: inline-block;
  width: 15px !important;
}
/* line 72, scss/components/_contact-form.scss */
#skh_contact_form_wrapper .newsletter label {
  display: inline-block !important;
}
/* line 76, scss/components/_contact-form.scss */
#skh_contact_form_wrapper h2#thanks {
  display: none;
}

/* line 2, scss/components/_blog.scss */
.news-header h1 {
  font-size: 1.55em;
  margin-top: -16px;
  margin-bottom: 10px;
}
/* line 6, scss/components/_blog.scss */
.news-header h1:before {
  content: "";
  display: block;
  width: 2em;
  height: 3.8px;
  background-color: #f7141c;
  margin-bottom: 2.2rem;
  z-index: 99;
}
/* line 15, scss/components/_blog.scss */
.news-header h1 a {
  color: #333333;
  text-decoration: none;
}
/* line 18, scss/components/_blog.scss */
.news-header h1 a:hover {
  text-decoration: none;
}

/* line 25, scss/components/_blog.scss */
.news-thumbnail {
  padding-bottom: 1%;
}
/* line 27, scss/components/_blog.scss */
.news-thumbnail article {
  margin: 15px 0;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 15px;
  min-height: 300px;
}
@media screen and (max-width: 500px) {
  /* line 27, scss/components/_blog.scss */
  .news-thumbnail article {
    min-height: 100px;
  }
}
/* line 38, scss/components/_blog.scss */
.news-thumbnail article span {
  font-family: "bebas-bold" !important;
  color: #777;
  font-size: 1.3em;
}
/* line 44, scss/components/_blog.scss */
.news-thumbnail h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 1.25em;
  margin-top: 15px;
  color: #777;
  margin-bottom: 30px;
}

/* line 53, scss/components/_blog.scss */
.blog_back_btn {
  display: inline-block;
  margin-top: 3.8% !important;
  margin-bottom: 2%;
}

/* line 59, scss/components/_blog.scss */
.news_single_page {
  padding-bottom: 10%;
}
/* line 61, scss/components/_blog.scss */
.news_single_page article {
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 15px;
}

/* line 70, scss/components/_blog.scss */
.news-header-single h1 {
  font-size: 2.5em;
  margin-top: -16px;
  margin-bottom: 10px;
}
/* line 74, scss/components/_blog.scss */
.news-header-single h1:before {
  content: "";
  display: block;
  width: 2em;
  height: 3.8px;
  background-color: #f7141c;
  margin-bottom: 2.2rem;
  z-index: 99;
}
/* line 83, scss/components/_blog.scss */
.news-header-single h1 a {
  color: #333333;
  text-decoration: none;
}
/* line 86, scss/components/_blog.scss */
.news-header-single h1 a:hover {
  text-decoration: none;
}
/* line 91, scss/components/_blog.scss */
.news-header-single h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 1.25em;
  margin-top: 15px;
  color: #777;
  margin-bottom: 30px;
}
/* line 98, scss/components/_blog.scss */
.news-header-single span {
  font-family: "bebas-bold" !important;
  color: #777;
  font-size: 1.3em;
}

/* line 105, scss/components/_blog.scss */
.project-filter {
  margin-bottom: 25px;
}
@media screen and (max-width: 767px) {
  /* line 105, scss/components/_blog.scss */
  .project-filter {
    text-align: center;
  }
}
/* line 110, scss/components/_blog.scss */
.project-filter li {
  list-style-type: none;
  display: inline-block;
  margin-right: 3%;
}
/* line 114, scss/components/_blog.scss */
.project-filter li a {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  color: #777;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  padding-bottom: 25px;
  outline: none !important;
}
@media screen and (max-width: 500px) {
  /* line 114, scss/components/_blog.scss */
  .project-filter li a {
    font-size: 14px;
    text-transform: capitalize;
    font-weight: normal;
  }
}
/* line 127, scss/components/_blog.scss */
.project-filter li a:hover {
  color: #501b00;
  text-decoration: none;
  border-bottom: 1px solid #501b00;
}
/* line 132, scss/components/_blog.scss */
.project-filter li a:focus {
  color: #501b00;
  text-decoration: none;
  border-bottom: 1px solid #501b00;
}

/* line 141, scss/components/_blog.scss */
.thumb-container-filtered-blog {
  background-color: #f5f5f5;
  padding: 5% 0;
}
/* line 144, scss/components/_blog.scss */
.thumb-container-filtered-blog .row {
  display: block;
  clear: both;
}
/* line 147, scss/components/_blog.scss */
.thumb-container-filtered-blog .row:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  font-size: 0;
}

/* line 158, scss/components/_blog.scss */
.wpvl_auto_thumb_box {
  position: relative;
  width: auto;
  height: auto;
  display: block;
}

/* line 165, scss/components/_blog.scss */
.video_lightbox_auto_anchor_image {
  width: 100%;
  height: auto;
  display: block;
  margin-top: -30px;
}

/* line 172, scss/components/_blog.scss */
.wpvl_auto_thumb_play {
  position: absolute;
  left: auto;
  top: 38%;
  right: 50%;
  margin-right: -22px;
}

/* line 180, scss/components/_blog.scss */
.show-small {
  display: none;
}
@media screen and (max-width: 767px) {
  /* line 180, scss/components/_blog.scss */
  .show-small {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  /* line 187, scss/components/_blog.scss */
  .show-large {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  /* line 193, scss/components/_blog.scss */
  .project-item {
    width: 100%;
    display: block;
    position: relative;
  }
}

/*
button-variant-darken($color, $background);
button-variant-lighten($color, $background);
button-variant-multi($color, $color-hover, $background, $background-hover);
button-variant-transparent($color, $color-hover, $border-color, $border-color-hover, $border-size)
*/
/* button-font-style($text-transform, $font-weight) */
/* button-radius($radius) */
/* button-size($padding-vertical, $padding-horizontal, $font-size, $line-height, $border-radius) */
/* button-spacing($margin) */
/* line 16, scss/components/_button.scss */
.btn-sk {
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  white-space: nowrap;
}

/* line 27, scss/components/_button.scss */
.btn-sk-lg {
  padding: 15px 50px !important;
  font-size: 16px !important;
  line-height: 1.7 !important;
  border-radius: 5px !important;
}

/* line 31, scss/components/_button.scss */
.btn-sk-md {
  padding: 12px 40px !important;
  font-size: 16px !important;
  line-height: 1.55 !important;
  border-radius: 5px !important;
}

/* line 35, scss/components/_button.scss */
.btn-sk-nm, .btn-multi {
  padding: 10px 35px !important;
  font-size: 14px !important;
  line-height: 1.5 !important;
  border-radius: 3px !important;
}

/* line 39, scss/components/_button.scss */
.btn-sk-sm {
  padding: 5px 20px !important;
  font-size: 13px !important;
  line-height: 1.5 !important;
  border-radius: 3px !important;
}

/* ---------------------------- Button Style -------------------*/
/* line 45, scss/components/_button.scss */
.btn-theme {
  color: #ffffff;
  background-color: blue;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
/* line 5, scss/components/_mixins.scss */
.btn-theme:focus, .btn-theme.focus {
  color: #ffffff;
  background-color: #000099;
}
/* line 10, scss/components/_mixins.scss */
.btn-theme:hover {
  color: #ffffff;
  background-color: #000099;
}

/* line 49, scss/components/_button.scss */
.btn-theme-transparent {
  color: #333;
  background-color: transparent;
  border: 2px solid #333;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}
/* line 51, scss/components/_mixins.scss */
.btn-theme-transparent:focus, .btn-theme-transparent.focus {
  color: #888;
  border: 2px solid #888;
}
/* line 56, scss/components/_mixins.scss */
.btn-theme-transparent:hover {
  color: #888;
  border: 2px solid #888;
}

/* line 55, scss/components/_button.scss */
.btn-more {
  color: #fff;
  background-color: #555;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  text-transform: capital;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 10px;
}
/* line 20, scss/components/_mixins.scss */
.btn-more:focus, .btn-more.focus {
  color: #fff;
  background-color: #888888;
}
/* line 25, scss/components/_mixins.scss */
.btn-more:hover {
  color: #fff;
  background-color: #888888;
}

/* line 61, scss/components/_button.scss */
.btn-multi {
  color: #eee !important;
  background-color: red !important;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
/* line 35, scss/components/_mixins.scss */
.btn-multi:focus, .btn-multi.focus {
  color: #fff !important;
  background-color: blue !important;
}
/* line 40, scss/components/_mixins.scss */
.btn-multi:hover {
  color: #fff !important;
  background-color: blue !important;
}

/* line 66, scss/components/_button.scss */
.btn-demo {
  color: #555;
  background-color: transparent;
  border: 5px solid #555;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  padding: 5px 20px !important;
  font-size: 15px !important;
  line-height: 1.7 !important;
  border-radius: 5px !important;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 0px;
}
/* line 51, scss/components/_mixins.scss */
.btn-demo:focus, .btn-demo.focus {
  color: #222;
  border: 5px solid #222;
}
/* line 56, scss/components/_mixins.scss */
.btn-demo:hover {
  color: #222;
  border: 5px solid #222;
}

/* line 74, scss/components/_button.scss */
.book-btn a {
  color: #ffffff !important;
  background-color: #501b00 !important;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  padding: 8px 12px !important;
  font-size: inherit !important;
  line-height: 1 !important;
  border-radius: 3px !important;
  margin-top: 28px;
  margin-left: 15px;
  margin-right: 15px;
  text-decoration: none;
}
/* line 35, scss/components/_mixins.scss */
.book-btn a:focus, .book-btn a.focus {
  color: #501b00 !important;
  background-color: #ffffff !important;
}
/* line 40, scss/components/_mixins.scss */
.book-btn a:hover {
  color: #501b00 !important;
  background-color: #ffffff !important;
}
@media screen and (max-width: 500px) {
  /* line 74, scss/components/_button.scss */
  .book-btn a {
    margin-right: 5px;
  }
}

/* line 90, scss/components/_button.scss */
.book-btn.mobile-btn a {
  color: #ffffff !important;
  background-color: #501b00 !important;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
/* line 35, scss/components/_mixins.scss */
.book-btn.mobile-btn a:focus, .book-btn.mobile-btn a.focus {
  color: #501b00 !important;
  background-color: #fdb813 !important;
}
/* line 40, scss/components/_mixins.scss */
.book-btn.mobile-btn a:hover {
  color: #501b00 !important;
  background-color: #fdb813 !important;
}

/* line 94, scss/components/_button.scss */
.btn-banner {
  color: #ffffff !important;
  background-color: transparent !important;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-bottom: 3px solid #f7141c;
  font-size: 1.5em;
  line-height: 1.5em;
  font-family: bebas-reg;
  letter-spacing: .08em;
  display: inline-block;
  margin-right: 15px;
}
/* line 35, scss/components/_mixins.scss */
.btn-banner:focus, .btn-banner.focus {
  color: #501b00 !important;
  background-color: transparent !important;
}
/* line 40, scss/components/_mixins.scss */
.btn-banner:hover {
  color: #501b00 !important;
  background-color: transparent !important;
}

/* line 105, scss/components/_button.scss */
.blog_back_btn {
  padding: 8px 12px !important;
  font-size: 1.5em !important;
  line-height: 1 !important;
  border-radius: 3px !important;
  color: #222222;
  background-color: transparent;
  border: 1px solid #222222;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background-color: #ffffff;
  font-family: "bebas-bold" !important;
}
/* line 51, scss/components/_mixins.scss */
.blog_back_btn:focus, .blog_back_btn.focus {
  color: #501b00;
  border: 1px solid #501b00;
}
/* line 56, scss/components/_mixins.scss */
.blog_back_btn:hover {
  color: #501b00;
  border: 1px solid #501b00;
}
/* line 110, scss/components/_button.scss */
.blog_back_btn:hover, .blog_back_btn:focus {
  text-decoration: none;
}

/* line 116, scss/components/_button.scss */
.btn-req {
  padding: 8px 12px !important;
  font-size: 1.2em !important;
  line-height: 1 !important;
  border-radius: 0px !important;
  color: #222222;
  background-color: transparent;
  border: 1px solid #222222;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  margin: 20px 0;
  font-family: "bebas-reg" !important;
}
/* line 51, scss/components/_mixins.scss */
.btn-req:focus, .btn-req.focus {
  color: #501b00;
  border: 1px solid #501b00;
}
/* line 56, scss/components/_mixins.scss */
.btn-req:hover {
  color: #501b00;
  border: 1px solid #501b00;
}
/* line 121, scss/components/_button.scss */
.btn-req:hover, .btn-req:focus {
  text-decoration: none;
}

/* line 127, scss/components/_button.scss */
.btn-book-class {
  padding: 8px 12px !important;
  font-size: 1.2em !important;
  line-height: 1 !important;
  border-radius: 3px !important;
  color: #222222;
  background-color: transparent;
  border: 1px solid #222222;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  font-family: "bebas-bold" !important;
}
/* line 51, scss/components/_mixins.scss */
.btn-book-class:focus, .btn-book-class.focus {
  color: #501b00;
  border: 1px solid #501b00;
}
/* line 56, scss/components/_mixins.scss */
.btn-book-class:hover {
  color: #501b00;
  border: 1px solid #501b00;
}
/* line 131, scss/components/_button.scss */
.btn-book-class:hover, .btn-book-class:focus {
  text-decoration: none;
}

/* line 137, scss/components/_button.scss */
.btn-cert-block {
  padding: 20px 12px !important;
  font-size: 1.2em !important;
  line-height: 1 !important;
  border-radius: 2px !important;
  color: #222222;
  background-color: transparent;
  border: 1px solid #222222;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  font-family: "bebas-reg" !important;
  display: block;
  margin: 20px 0;
}
/* line 51, scss/components/_mixins.scss */
.btn-cert-block:focus, .btn-cert-block.focus {
  color: #501b00;
  border: 1px solid #501b00;
}
/* line 56, scss/components/_mixins.scss */
.btn-cert-block:hover {
  color: #501b00;
  border: 1px solid #501b00;
}
/* line 143, scss/components/_button.scss */
.btn-cert-block:hover, .btn-cert-block:focus {
  text-decoration: none;
}

/* line 149, scss/components/_button.scss */
input[type="submit"], .custom-form-style textarea[type="submit"], .custom-form-style select[type="submit"], #skh_contact_form_wrapper textarea[type="submit"], #skh_contact_form_wrapper select[type="submit"] {
  padding: 20px 12px !important;
  font-size: 1.5em !important;
  line-height: 1 !important;
  border-radius: 2px !important;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid #222222;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background-color: #222222;
  font-family: "bebas-bold" !important;
  display: block;
  text-transform: uppercase;
}
/* line 51, scss/components/_mixins.scss */
input[type="submit"]:focus, .custom-form-style textarea[type="submit"]:focus, .custom-form-style select[type="submit"]:focus, #skh_contact_form_wrapper textarea[type="submit"]:focus, #skh_contact_form_wrapper select[type="submit"]:focus, input[type="submit"].focus, .custom-form-style textarea[type="submit"].focus, .custom-form-style select[type="submit"].focus, #skh_contact_form_wrapper textarea[type="submit"].focus, #skh_contact_form_wrapper select[type="submit"].focus {
  color: #501b00;
  border: 1px solid #501b00;
}
/* line 56, scss/components/_mixins.scss */
input[type="submit"]:hover, .custom-form-style textarea[type="submit"]:hover, .custom-form-style select[type="submit"]:hover, #skh_contact_form_wrapper textarea[type="submit"]:hover, #skh_contact_form_wrapper select[type="submit"]:hover {
  color: #501b00;
  border: 1px solid #501b00;
}

/* line 1, scss/components/_home.scss */
.home-page-hero-video {
  min-height: 450px;
  background-color: #555555 !important;
}
@media screen and (max-width: 767px) {
  /* line 1, scss/components/_home.scss */
  .home-page-hero-video {
    min-height: 200px;
  }
}

/* line 9, scss/components/_home.scss */
.et_divi_builder #et_builder_outer_content .et_pb_section_video_bg {
  background-color: transparent !important;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 20%, #000000) !important;
}
/* line 13, scss/components/_home.scss */
.et_divi_builder #et_builder_outer_content .et_pb_section_video_bg video {
  position: absolute;
  z-index: -1;
}

/* line 20, scss/components/_home.scss */
.menu-thumbnail .et_pb_main_blurb_image {
  margin-bottom: 15px !important;
}
/* line 24, scss/components/_home.scss */
.menu-thumbnail .et_pb_blurb_container {
  margin-top: -59px !important;
  background-color: rgba(80, 27, 0, 0.8) !important;
  display: block !important;
  position: relative !important;
  padding: 5px !important;
  text-align: center !important;
}
/* line 32, scss/components/_home.scss */
.menu-thumbnail .et_pb_blurb_container a {
  color: white !important;
  font-size: 18px !important;
  font-family: "Century Gothic" !important !important;
  text-transform: uppercase;
}

/* line 1, scss/components/_about.scss */
.et_divi_builder #et_builder_outer_content .bg_linear {
  position: relative;
}
/* line 3, scss/components/_about.scss */
.et_divi_builder #et_builder_outer_content .bg_linear:before {
  content: '';
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 0.85)) !important;
  color: #fff;
  position: absolute;
  width: 100%;
  top: 0px;
  height: 100%;
}

/* line 15, scss/components/_about.scss */
.et_divi_builder #et_builder_outer_content .et_pb_row {
  width: 100% !important;
}

/* line 20, scss/components/_about.scss */
.customer-review .et_pb_testimonial_description_inner {
  margin-top: 50px !important;
}
/* line 22, scss/components/_about.scss */
.customer-review .et_pb_testimonial_description_inner h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.2em;
  margin-top: 20px !important;
}
/* line 28, scss/components/_about.scss */
.customer-review .et_pb_testimonial_description_inner p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.1em;
}
/* line 33, scss/components/_about.scss */
.customer-review .et_pb_testimonial_description_inner:before {
  font-family: 'FontAwesome';
  content: '\f27b' !important;
  font-size: 3em;
  position: absolute;
  top: -25px;
  color: #999;
}

/* line 44, scss/components/_about.scss */
.et_divi_builder #et_builder_outer_content .et_pb_row {
  width: 100% !important;
}

@media (max-width: 1270px) {
  /* line 49, scss/components/_about.scss */
  .et_divi_builder #et_builder_outer_content .et_pb_row {
    width: 80% !important;
  }
}
@media screen and (max-width: 500px) {
  /* line 55, scss/components/_about.scss */
  .et_divi_builder #et_builder_outer_content .et_pb_row {
    width: 90% !important;
  }
}
@media (max-width: 767px) {
  /* line 61, scss/components/_about.scss */
  .customer-review .et_pb_testimonial_description_inner:before {
    font-family: 'FontAwesome';
    content: '\f27b' !important;
    font-size: 3em;
    position: absolute;
    top: -80px;
    color: #999;
  }
}
/* line 3, scss/components/_faq.scss */
#faq_section .et_pb_toggle_open .et_pb_toggle_title {
  padding-left: 0px !important;
}
/* line 7, scss/components/_faq.scss */
#faq_section .et_pb_toggle_title {
  font-size: 1.5em;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  color: #333;
  padding-left: 35px !important;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
/* line 14, scss/components/_faq.scss */
#faq_section .et_pb_toggle_title:before {
  content: "\e050";
  position: absolute;
  left: 0px;
  font-size: 25px !important;
  color: #333 !important;
  top: 50%;
  margin-top: -0.5em;
}
/* line 24, scss/components/_faq.scss */
#faq_section .et_pb_toggle {
  border: none !important;
  border-bottom: solid 1px #ddd !important;
}
/* line 28, scss/components/_faq.scss */
#faq_section .et_pb_toggle_close {
  background-color: transparent !important;
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}
/* line 33, scss/components/_faq.scss */
#faq_section .et_pb_module {
  margin-bottom: 0px !important;
}

@media screen and (max-width: 767px) {
  /* line 40, scss/components/_faq.scss */
  .et_divi_builder #et_builder_outer_content .et_pb_toggle_open {
    padding: 20px 0px !important;
    background: #FFF;
  }

  /* line 44, scss/components/_faq.scss */
  .et_divi_builder #et_builder_outer_content .et_pb_toggle_close {
    background-color: #f4f4f4;
    padding: 20px 0px !important;
  }

  /* line 49, scss/components/_faq.scss */
  .et_divi_builder #et_builder_outer_content .et_pb_toggle_close h5.et_pb_toggle_title {
    font-size: 18px;
  }

  /* line 53, scss/components/_faq.scss */
  .et_pb_toggle_content p {
    font-size: 1em !important;
  }
}
/* line 1, scss/components/_classes.scss */
.class_row {
  border-bottom: 1px solid #ccc !important;
  padding-top: 4% !important;
  padding-bottom: 4% !important;
}
/* line 5, scss/components/_classes.scss */
.class_row .et_pb_column_1_2 {
  width: 65% !important;
}
/* line 8, scss/components/_classes.scss */
.class_row .et_pb_column_1_4 {
  width: 17% !important;
}
/* line 11, scss/components/_classes.scss */
.class_row h3 {
  font-size: 1.7em;
  color: #501b00;
}
/* line 15, scss/components/_classes.scss */
.class_row p {
  font-size: 1.1em;
  line-height: 1.7;
}

/* line 2, scss/components/_privacy.scss */
.privacy-list ul {
  margin-left: 25px !important;
}
/* line 4, scss/components/_privacy.scss */
.privacy-list ul li {
  padding: 8px 0;
}

/* line 1, scss/components/_trainers.scss */
.trainer-page {
  margin-bottom: 5%;
  margin-top: 30px;
}
@media screen and (max-width: 500px) {
  /* line 1, scss/components/_trainers.scss */
  .trainer-page {
    margin-top: 50px;
  }
}
/* line 7, scss/components/_trainers.scss */
.trainer-page h1.title {
  text-align: center;
  border-bottom: solid 1px #ddd;
  padding-bottom: 20px;
  margin-bottom: 30px;
  color: #501b00;
}
@media screen and (max-width: 500px) {
  /* line 7, scss/components/_trainers.scss */
  .trainer-page h1.title {
    font-size: 40px !important;
    margin-bottom: 0px;
    border: none;
  }
}

@media screen and (max-width: 991px) {
  /* line 21, scss/components/_trainers.scss */
  .nav-tab-wrapper {
    margin-top: 25px;
  }
}
/* line 25, scss/components/_trainers.scss */
.nav-tab-wrapper .tab-content {
  border: solid 1px #ddd;
  padding: 25px 20px;
}
/* line 29, scss/components/_trainers.scss */
.nav-tab-wrapper .nav-tabs li {
  width: 50%;
}
/* line 32, scss/components/_trainers.scss */
.nav-tab-wrapper .nav-tabs > li > a {
  font-family: "bebas-bold" !important;
  font-size: 35px;
  border: solid 1px #ddd;
  margin: 0px;
  border-radius: 0px;
  text-align: center;
  color: #777;
}
@media screen and (max-width: 991px) {
  /* line 32, scss/components/_trainers.scss */
  .nav-tab-wrapper .nav-tabs > li > a {
    font-size: 25px;
  }
}
/* line 43, scss/components/_trainers.scss */
.nav-tab-wrapper .nav-tabs > li > a:hover {
  color: #501b00;
  background-color: transparent !important;
}
/* line 47, scss/components/_trainers.scss */
.nav-tab-wrapper .nav-tabs > li > a:focus {
  color: #501b00;
  background-color: transparent !important;
}
/* line 53, scss/components/_trainers.scss */
.nav-tab-wrapper li.active a {
  color: #fff;
  background-color: #501b00 !important;
  border: solid 1px #501b00 !important;
}
/* line 57, scss/components/_trainers.scss */
.nav-tab-wrapper li.active a:hover {
  color: #fff;
  background-color: #501b00 !important;
  border: solid 1px #501b00 !important;
}
/* line 62, scss/components/_trainers.scss */
.nav-tab-wrapper li.active a:focus {
  color: #fff;
  background-color: #501b00 !important;
  border: solid 1px #501b00 !important;
}

/* line 74, scss/components/_trainers.scss */
.tab-pane p:first-child > strong {
  margin-top: 0px;
}
/* line 78, scss/components/_trainers.scss */
.tab-pane strong {
  margin-bottom: 10px;
  display: block;
  margin-top: 30px;
}
/* line 85, scss/components/_trainers.scss */
.tab-pane ul li {
  padding: 5px 0;
  list-style-type: circle !important;
  margin-left: 15px;
}

/* line 92, scss/components/_trainers.scss */
.trainer-module {
  margin: 15px 0;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 15px;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
/* line 101, scss/components/_trainers.scss */
.trainer-module__title {
  font-size: 1.55em;
  margin-top: -16px;
  margin-bottom: 10px;
  color: #555;
}
/* line 106, scss/components/_trainers.scss */
.trainer-module__title:before {
  content: "";
  display: block;
  width: 2em;
  height: 3.8px;
  background-color: #f7141c;
  margin-bottom: 2.2rem;
  z-index: 99;
}
/* line 116, scss/components/_trainers.scss */
.trainer-module__img {
  display: block;
  width: 100%;
  overflow: hidden;
  max-height: 350px;
}
@media screen and (max-width: 767px) {
  /* line 116, scss/components/_trainers.scss */
  .trainer-module__img {
    max-width: 220px;
    display: block;
    margin: 0 auto;
  }
}
/* line 127, scss/components/_trainers.scss */
.trainer-module img {
  width: 100% !important;
}

/* line 132, scss/components/_trainers.scss */
.trainer-module__wrapper {
  text-decoration: none !important;
  display: block;
  margin: 5px 50px;
}
@media screen and (max-width: 991px) {
  /* line 132, scss/components/_trainers.scss */
  .trainer-module__wrapper {
    margin: 5px 15px;
  }
}

/* line 142, scss/components/_trainers.scss */
.trainer-module__wrapper:hover > .trainer-module .trainer-module__title {
  color: #501b00 !important;
  text-decoration: none !important;
}

/* line 147, scss/components/_trainers.scss */
.trainer-module__wrapper:hover > .trainer-module {
  box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.4);
}

/* line 151, scss/components/_trainers.scss */
.custom-secondary-header {
  margin-left: 65px;
}
@media screen and (max-width: 991px) {
  /* line 151, scss/components/_trainers.scss */
  .custom-secondary-header {
    margin-left: 30px;
  }
}

/* line 158, scss/components/_trainers.scss */
.hc_footer {
  display: none !important;
}

/* line 1, scss/components/_location.scss */
.location-media-thumb {
  border-radius: 5px !important;
  border: 1px solid #cccccc !important;
  padding: 15px !important;
}
/* line 5, scss/components/_location.scss */
.location-media-thumb .et_pb_main_blurb_image {
  margin-bottom: 10px !important;
  margin-top: -16px !important;
}
/* line 8, scss/components/_location.scss */
.location-media-thumb .et_pb_main_blurb_image:before {
  content: "";
  display: block;
  width: 3em;
  height: 3.8px;
  background-color: #f7141c;
  margin-bottom: 2.2rem;
}
/* line 17, scss/components/_location.scss */
.location-media-thumb h4 {
  font-size: 1.45em;
}
/* line 19, scss/components/_location.scss */
.location-media-thumb h4 a {
  color: #333333;
}
/* line 23, scss/components/_location.scss */
.location-media-thumb h5 {
  margin-top: 10px !important;
  font-size: 1.3em;
  color: #777;
}

/* line 30, scss/components/_location.scss */
.Pricing_table_container {
  border-radius: 5px !important;
  border: 1px solid #cccccc !important;
  padding: 15px !important;
  margin-bottom: 30px !important;
}
/* line 36, scss/components/_location.scss */
.Pricing_table_container h3 {
  color: #501b00;
  font-size: 1.5em;
  font-family: "bebas-reg" !important;
  margin-bottom: 5% !important;
  letter-spacing: 0.1em;
}
/* line 43, scss/components/_location.scss */
.Pricing_table_container h6 {
  color: #999999;
  font-size: 1em;
  font-family: "bebas-bold" !important;
  margin-top: -15px !important;
  margin-bottom: 3% !important;
}
/* line 50, scss/components/_location.scss */
.Pricing_table_container table {
  background-color: transparent !important;
}
/* line 52, scss/components/_location.scss */
.Pricing_table_container table tr {
  border-bottom: 1px solid #ddd !important;
}
/* line 54, scss/components/_location.scss */
.Pricing_table_container table tr:first-child {
  border-top: 1px solid #ddd !important;
}
/* line 58, scss/components/_location.scss */
.Pricing_table_container table td {
  font-size: 1.05em;
  border-top: none !important;
}
/* line 62, scss/components/_location.scss */
.Pricing_table_container table td:first-child {
  font-weight: bold;
  border-right: 1px solid #ddd !important;
}

/* line 70, scss/components/_location.scss */
.terms_condition h3 {
  font-size: 1em;
  color: #888888;
}
/* line 74, scss/components/_location.scss */
.terms_condition li {
  list-style-type: circle !important;
  padding: 7px;
  margin-left: 15px !important;
  font-size: 1em;
}

/* line 83, scss/components/_location.scss */
.description_con h1 {
  font-size: 1.8em;
  margin-bottom: 0.1em !important;
  letter-spacing: 0.1em;
}
/* line 87, scss/components/_location.scss */
.description_con h1:before {
  content: "";
  display: block;
  width: 1.8em;
  height: 5px;
  background-color: #f7141c;
  margin-bottom: 2.2rem;
}
/* line 96, scss/components/_location.scss */
.description_con p {
  font-size: 1.05em !important;
  line-height: 1.6;
}
/* line 100, scss/components/_location.scss */
.description_con h3 {
  font-size: 1.1em;
  margin-bottom: 0.1em !important;
  color: #777;
  letter-spacing: 0.1em;
}

/* line 108, scss/components/_location.scss */
.service_table {
  border-radius: 5px !important;
  border: 1px solid #cccccc !important;
  padding: 15px !important;
  min-height: 100px !important;
}
/* line 113, scss/components/_location.scss */
.service_table h1 {
  font-size: 1.2em;
  margin-bottom: 0.8em !important;
  letter-spacing: 0.1em;
}
/* line 119, scss/components/_location.scss */
.service_table table tr {
  border-bottom: 1px solid #ddd !important;
}
/* line 121, scss/components/_location.scss */
.service_table table tr:first-child {
  border-top: 1px solid #ddd !important;
}
/* line 125, scss/components/_location.scss */
.service_table table td {
  font-size: 1em;
  border-top: none !important;
  text-transform: capitalize;
}
/* line 129, scss/components/_location.scss */
.service_table table td:before {
  font-family: "FontAwesome" !important;
  content: '\f05d ';
  padding-right: 10px;
  color: #555555;
}

/* line 3, scss/components/_cert.scss */
.certification_page ul li {
  list-style-type: circle !important;
  margin-left: 20px !important;
  padding: 8px 0;
}
/* line 10, scss/components/_cert.scss */
.certification_page ol li {
  list-style-type: number !important;
  margin-left: 20px !important;
  padding: 8px 0;
}
