.et_divi_builder #et_builder_outer_content .bg_linear {
    position: relative;
    &:before {
        content: '';
        background-image: linear-gradient(180deg, transparent 10%, rgba(0, 0, 0, 0.85)) !important;
        color: #fff;
        position: absolute;
        width: 100%;
        top: 0px;
        
        height: 100%;
    }
}

.et_divi_builder #et_builder_outer_content .et_pb_row {
    width: 100% !important;
}

.customer-review {
    .et_pb_testimonial_description_inner {
        margin-top: 50px !important;
        h3 {
            font-family: $font-open-sans;
            font-weight: 400;
            font-size: 1.2em;
            margin-top: 20px !important;
        }
        p {
            font-family: $font-open-sans;
            font-weight: 400;
            font-size: 1.1em;
        }
        &:before {
            font-family: 'FontAwesome';
            content: '\f27b' !important;
            font-size: 3em;
            position: absolute;
            top: -25px;
            color: #999;
        }
    }
}

.et_divi_builder #et_builder_outer_content .et_pb_row {
    width: 100% !important;
}

@media (max-width: 1270px) {
    .et_divi_builder #et_builder_outer_content .et_pb_row {
        width: 80% !important;
    }
}

@include small() {
    .et_divi_builder #et_builder_outer_content .et_pb_row {
        width: 90% !important;
    }
}

@media (max-width: 767px) {
    .customer-review .et_pb_testimonial_description_inner:before {
        font-family: 'FontAwesome';
        content: '\f27b' !important;
        font-size: 3em;
        position: absolute;
        top: -80px;
        color: #999;
    }
}