 //FONTS AND ITS VARIATIONS
 @import url(includes/css/sk-social-font.css );
 @import url(includes/css/font-awesome.min.css );
 @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);
 @font-face {
     font-family: 'bebas-reg';
     src: url('includes/fonts/bebas-reg.ttf') format('truetype');
 }

 @font-face {
     font-family: 'bebas-bold';
     src: url('includes/fonts/bebas-bold.ttf') format('truetype');
 }

 $font-open-sans: 'Open Sans',
 sans-serif;
 $bebas-reg: 'bebas-reg'!important;
 $bebas-bold: 'bebas-bold' !important;
 /* float clearing for everyone else */

 $century: 'Century Gothic'!important;

 .clearfix:after {
     clear: both;
     content: ".";
     display: block;
     height: 0;
     visibility: hidden;
     font-size: 0;
 }

 body {
     font-family: $font-open-sans;
 }
 /* Text meant only for screen readers */

 .screen-reader-text {
     clip: rect(1px 1px 1px 1px);
     /* IE6, IE7 */
     clip: rect(1px, 1px, 1px, 1px);
     position: absolute !important;
     &:hover,
     &:focus,
     &active {
         background-color: #f1f1f1;
         border-radius: 3px;
         box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
         clip: auto !important;
         color: #21759b;
         display: block;
         font-size: 14px;
         font-weight: bold;
         height: auto;
         left: 5px;
         line-height: normal;
         padding: 15px 23px 14px;
         text-decoration: none;
         top: 5px;
         width: auto;
         z-index: 100000;
     }
 }

 .widget-pattern {
     background: url(includes/pattern.png) !important;
     height: 20px;
     margin-left: 30px !important;
     @include medium() {
         display: none;
     }
 }

 .et_pb_widget_area {
     @include medium() {
         display: none !important;
     }
     h1 {
         font-size: 1.35em !important;
     }
     ul {
         li {
             padding: 5px 0;
             a {
                 padding-top: 5px;
                 color: $primary-theme-color !important;
                 border-top: 1px solid #eeeeee;
             }
         }
     }
 }

 .custom-form-style {
     input {
         border: none;
         border-bottom: 2px solid #ccc;
         padding-right: 10px;
         padding: 10px 0;
         width: 100% !important;
         margin-bottom: 15px !important;
         @include transition(compact(all 0.5s));
         &:hover,
         &:focus {
             border-color: #222;
         }
     }
     textarea {
         @extend input;
         border: 2px solid #ccc;
         padding: 15px;
         border-radius: 3.5px;
         margin-top: 10px;
     }
     .ninja-forms-required-items {
         display: none;
     }
     label {
         font-size: 1.3em !important;
         color: #222222 !important;
         letter-spacing: 0.1em;
         margin-top: 10px;
         font-weight: normal !important;
         font-family: $bebas-bold;
         display: block;
     }
     input[type="button"] {
         text-transform: uppercase;
         background-color: $pt-color;
         border: none !important;
         &:hover{
             color:white;
             background-color: $primary-theme-color;
         }
     }
     select {
         @extend input;
         border: 1px solid #ccc;
         padding: 10px;
         margin-top: 10px;
     }
     input[type="radio"] {
         display: inline-block !important;
         width: auto !important;
         margin-right: 10px !important;
     }
 }

 .et_pb_with_background {
     background-position: right top !important;
 }

 @media (max-width: 991px) {
     body {
         //padding-top: 80px;
     }
 }

 @media (max-width: 991px) {
     .widget-pattern {
         margin-left: 0px !important;
     }
     .et_divi_builder #et_builder_outer_content .et_pb_section {
         padding: 5px 0 !important;
     }
 }

 .mobile-banner{
min-height: 400px;
@include small(){
min-height:280px;
}

@media(max-width:250px){

}
 }

