.news-header {
    h1 {
        font-size: 1.55em;
        margin-top: -16px;
        margin-bottom: 10px;
        &:before {
            content: "";
            display: block;
            width: 2em;
            height: 3.8px;
            background-color: #f7141c;
            margin-bottom: 2.2rem;
            z-index: 99;
        }
        a {
            color: #333333;
            text-decoration: none;
            &:hover {
                text-decoration: none;
            }
        }
    }
}

.news-thumbnail {
    padding-bottom: 1%;
    article {
        margin: 15px 0;
        background-color: #fff;
        border-radius: 5px;
        border: 1px solid #ccc;
        padding: 15px;
        min-height: 300px;
        //max-height: 300px;
        @include small() {
            min-height: 100px;
        }
        span {
            font-family: $bebas-bold;
            color: #777;
            font-size: 1.3em;
        }
    }
    h3 {
        font-family: $font-open-sans;
        font-size: 1.25em;
        margin-top: 15px;
        color: #777;
        margin-bottom: 30px;
    }
}

.blog_back_btn {
    display: inline-block;
    margin-top: 3.8% !important;
    margin-bottom: 2%;
}

.news_single_page {
    padding-bottom: 10%;
    article {
        background-color: #fff;
        border-radius: 5px;
        border: 1px solid #ccc;
        padding: 15px;
    }
}

.news-header-single {
    h1 {
        font-size: 2.5em;
        margin-top: -16px;
        margin-bottom: 10px;
        &:before {
            content: "";
            display: block;
            width: 2em;
            height: 3.8px;
            background-color: #f7141c;
            margin-bottom: 2.2rem;
            z-index: 99;
        }
        a {
            color: #333333;
            text-decoration: none;
            &:hover {
                text-decoration: none;
            }
        }
    }
    h3 {
        font-family: $font-open-sans;
        font-size: 1.25em;
        margin-top: 15px;
        color: #777;
        margin-bottom: 30px;
    }
    span {
        font-family: $bebas-bold;
        color: #777;
        font-size: 1.3em;
    }
}

.project-filter {
    margin-bottom: 25px;
    @include normal() {
        text-align: center;
    }
    li {
        list-style-type: none;
        display: inline-block;
        margin-right: 3%;
        a {
            font-size: 18px;
            @include small() {
                font-size: 14px;
                text-transform: capitalize;
                font-weight: normal;
            }
            text-transform:uppercase;
            font-weight:bold;
            color:#777;
            @include transition(compact(all 0.5s));
            padding-bottom:25px;
            outline: none !important;
            &:hover {
                color: $primary-theme-color;
                text-decoration: none;
                border-bottom: 1px solid $primary-theme-color;
            }
            &:focus {
                color: $primary-theme-color;
                text-decoration: none;
                border-bottom: 1px solid $primary-theme-color;
            }
        }
    }
}

.thumb-container-filtered-blog {
    background-color: #f5f5f5;
    padding: 5% 0;
    .row {
        display: block;
        clear: both;
        &:after {
            clear: both;
            content: ".";
            display: block;
            height: 0;
            visibility: hidden;
            font-size: 0;
        }
    }
}

.wpvl_auto_thumb_box {
    position: relative;
    width: auto;
    height: auto;
    display: block;
}

.video_lightbox_auto_anchor_image {
    width: 100%;
    height: auto;
    display: block;
    margin-top: -30px;
}

.wpvl_auto_thumb_play {
    position: absolute;
    left: auto;
    top: 38%;
    right: 50%;
    margin-right: -22px;
}

.show-small {
    display: none;
    @include normal() {
        display: block;
    }
}

.show-large {
    @include normal() {
        display: none;
    }
}

.project-item {
    @include normal() {
        width: 100%;
        display: block;
        position: relative;
    }
}