/*
button-variant-darken($color, $background);
button-variant-lighten($color, $background);
button-variant-multi($color, $color-hover, $background, $background-hover);
button-variant-transparent($color, $color-hover, $border-color, $border-color-hover, $border-size)
*/

/* button-font-style($text-transform, $font-weight) */

/* button-radius($radius) */

/* button-size($padding-vertical, $padding-horizontal, $font-size, $line-height, $border-radius) */

/* button-spacing($margin) */

.btn-sk {
    display: inline-block;
    margin-bottom: 0; // For input.btn
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
    white-space: nowrap;
}

.btn-sk-lg {
    @include button-size(15px, 50px, 16px, 1.7, 5px);
}

.btn-sk-md {
    @include button-size(12px, 40px, 16px, 1.55, 5px);
}

.btn-sk-nm {
    @include button-size(10px, 35px, 14px, 1.5, 3px);
}

.btn-sk-sm {
    @include button-size(5px, 20px, 13px, 1.5, 3px);
}

/* ---------------------------- Button Style -------------------*/

.btn-theme {
    @include button-variant-darken($btn-theme-color, $btn-theme-color-bg);
}

.btn-theme-transparent {
    @include button-variant-transparent(#333, #888, #333, #888, 2px);
    @include button-font-style(uppercase, bold);
    @include button-spacing(10px);
}

.btn-more {
    @include button-variant-lighten(#fff, #555);
    @include button-font-style(capital, 400);
    @include button-spacing(10px);
}

.btn-multi {
    @include button-variant-multi(#eee, #fff, red, blue);
    @extend .btn-sk-nm;
}

.btn-demo {
    //@extend .btn-sk-md;
    @include button-variant-transparent(#555, #222, #555, #222, 5px);
    @include button-size(5px, 20px, 15px, 1.7, 5px);
    @include button-font-style(uppercase, 600);
    @include button-radius(0px);
}

.book-btn a {
    @include button-variant-multi(#ffffff, $primary-theme-color, $primary-theme-color, #ffffff);
    @include button-size(8px, 12px, inherit, 1, 3px);
    margin-top: 28px;
    margin-left: 15px;
    margin-right: 15px;
    text-decoration: none;
    @include small(){
        margin-right: 5px;
    }

    &{

    }
}

.book-btn.mobile-btn a{
    @include button-variant-multi(#ffffff, $primary-theme-color, $primary-theme-color, $pt-color);
}

.btn-banner {
    @include button-variant-multi(#ffffff, $primary-theme-color, transparent, transparent);
    border-bottom: 3px solid #f7141c;
    font-size: 1.5em;
    line-height: 1.5em;
    font-family: bebas-reg;
    letter-spacing: .08em;
    display: inline-block;
    margin-right: 15px;
}

.blog_back_btn {
    @include button-size(8px, 12px, 1.5em, 1, 3px);
    @include button-variant-transparent(#222222, $primary-theme-color, #222222, $primary-theme-color, 1px);
    background-color: #ffffff;
    font-family: $bebas-bold;
    &:hover,
    &:focus {
        text-decoration: none;
    }
}

.btn-req {
    @include button-size(8px, 12px, 1.2em, 1, 0px);
    @include button-variant-transparent(#222222, $primary-theme-color, #222222, $primary-theme-color, 1px);
    margin: 20px 0;
    font-family: $bebas-reg;
    &:hover,
    &:focus {
        text-decoration: none;
    }
}

.btn-book-class {
    @include button-size(8px, 12px, 1.2em, 1, 3px);
    @include button-variant-transparent(#222222, $primary-theme-color, #222222, $primary-theme-color, 1px);
    font-family: $bebas-bold;
    &:hover,
    &:focus {
        text-decoration: none;
    }
}

.btn-cert-block {
    @include button-size(20px, 12px, 1.2em, 1, 2px);
    @include button-variant-transparent(#222222, $primary-theme-color, #222222, $primary-theme-color, 1px);
    font-family: $bebas-reg;
    display: block;
    margin: 20px 0;
    &:hover,
    &:focus {
        text-decoration: none;
    }
}

input[type="submit"] {
    @include button-size(20px, 12px, 1.5em, 1, 2px);
    @include button-variant-transparent(#ffffff, $primary-theme-color, #222222, $primary-theme-color, 1px);
    background-color: #222222;
    font-family: $bebas-bold;
    display: block;
    text-transform: uppercase;
}