.certification_page {
    ul {
        li {
            list-style-type: circle !important;
            margin-left: 20px!important;
            padding: 8px 0;
        }
    }
    ol {
        li {
            list-style-type: number !important;
            margin-left: 20px!important;
            padding: 8px 0;
        }
    }
}