.class_row {
    border-bottom: 1px solid #ccc !important;
    padding-top: 4% !important;
    padding-bottom: 4% !important;
    .et_pb_column_1_2 {
        width: 65% !important;
    }
    .et_pb_column_1_4 {
        width: 17% !important;
    }
    h3 {
        font-size: 1.7em;
        color: $primary-theme-color;
    }
    p {
        font-size: 1.1em;
        line-height: 1.7;
    }
}