#skh_contact_form_wrapper {
    input {
        border: none;
        border-bottom: 2px solid #ccc;
        padding-right: 10px;
        padding: 10px 0;
        width: 100% !important;
        margin-bottom: 15px !important;
        @include transition(compact(all 0.5s));
        &:hover,
        &:focus {
            border-color: #222;
        }
        &::-moz-placeholder {
            color: transparent;
            opacity: 0;
            display: none;
        }
        &:-ms-input-placeholder {
            color: transparent;
            display: none;
        }
        &::-webkit-input-placeholder {
            color: transparent;
            display: none;
        }
    }
    textarea {
        @extend input;
        border: 2px solid #ccc;
        padding: 15px;
        border-radius: 3.5px;
        margin-top: 10px;
    }
    .ninja-forms-required-items {
        display: none;
    }
    label {
        font-size: 1.3em !important;
        color: #222222 !important;
        letter-spacing: 0.1em;
        margin-top: 10px;
        font-weight: normal !important;
        font-family: $bebas-bold;
        display: block;
    }
    input[type="submit"] {
        text-transform: uppercase;
    }
    select {
        @extend input;
        border: 1px solid #ccc;
        padding: 10px;
        margin-top: 10px;
    }
    input[type="radio"] {
        display: inline-block !important;
        width: auto !important;
        margin-right: 10px !important;
    }
    .newsletter {
        margin-bottom: 1.5rem;
        padding: 1rem;
        border: 2px dotted silver;
        border-radius: 3px;
        font-weight: 500;
        padding: 25px 15px;
        input {
            display: inline-block;
            width: 15px !important;
        }
        label {
            display: inline-block!important;
        }
    }
    h2#thanks {
        display: none;
    }
}