#faq_section {
    .et_pb_toggle_open {
        .et_pb_toggle_title {
            padding-left: 0px !important;
        }
    }
    .et_pb_toggle_title {
        font-size: 1.5em;
        font-family: $font-open-sans;
        font-weight: 700;
        color: #333;
        padding-left: 35px !important;
        @include transition(compact(all 0.5s));
        &:before {
            content: "\e050";
            position: absolute;
            left: 0px;
            font-size: 25px !important;
            color: #333 !important;
            top: 50%;
            margin-top: -0.5em;
        }
    }
    .et_pb_toggle {
        border: none !important;
        border-bottom: solid 1px #ddd !important;
    }
    .et_pb_toggle_close {
        background-color: transparent !important;
        padding-top: 30px !important;
        padding-bottom: 30px !important;
    }
    .et_pb_module {
        margin-bottom: 0px !important;
    }
}


@include normal(){
    .et_divi_builder #et_builder_outer_content .et_pb_toggle_open {
    padding: 20px 0px !important;
    background: #FFF;
}
.et_divi_builder #et_builder_outer_content .et_pb_toggle_close {
    background-color: #f4f4f4;
    padding: 20px 0px !important;
}

.et_divi_builder #et_builder_outer_content .et_pb_toggle_close h5.et_pb_toggle_title {
    font-size: 18px;
}

.et_pb_toggle_content p{
font-size: 1em !important;
}

}