footer {
    padding-top: 50px;
    padding-bottom: 70px;
    h1 {
        font-size: 2.5em;
        margin-top: 20%;
        color: #ffffff;
        @include medium() {
            margin-top: 7%;
            margin-bottom: 20px;
            font-size: 1.8em;
        }
        @include small() {
            font-size: 28px;
        }
        &:before {
            // content: "";
            // display: block;
            // width: 0.5em;
            // height: 3px;
            // background-color: #fff;
            // margin-bottom: 1.25rem;
        }
    }
    .loc-container {
        background-color: #ffffff;
        padding: 35px 35px;
        h3 {
            font-size: 2em;
            color: $primary-theme-color;
            margin-top: 15px;
            margin-bottom: 10px;
        }
        .loc_list li a {
            font-size: 1.15em;
            letter-spacing: 0.05em;
            color: #222222;
            width: 100%;
            display: block;
            padding: 4px 0;
            font-family: $bebas-bold;
            @include transition(compact(all 0.5s));
            &:hover {
                background: #eee;
                padding-left: 0.5em;
                text-decoration: none;
            }
        }
    }
    .col-xs-4 {
        @media(max-width: 700px) {
            width: 100%;
            border-bottom: solid 1px #ddd;
            padding-bottom: 15px;
            margin-bottom: 15px;
            text-align: center;
        }
    }
}

.footer-info-bg {
    background-color: $pt-color;
    padding-top: 70px;
    padding-bottom: 70px;
    @include normal() {
        padding-top: 30px;
        padding-bottom: 35px;
        text-align: center;
    }
    .divider-footer {
        border-top: 1px dotted hsla(0, 0%, 100%, .2);
        padding-bottom: 15px;
    }
    p {
        color: $primary-theme-color;
    }
    .footer_nav_list {
        @include normal() {
            text-align: center;
        }
        li {
            display: inline-block;
            padding-right: 30px;
            padding-top: 20px;
            padding-bottom: 20px;
            @include medium() {
                font-size: 13px;
                padding-right: 12px;
            }
            @media(max-width:370px) {
                font-size: 13px;
                padding: 5px;
                display: block !important;
            }
            a {
                @include transition(compact(all 0.5s));
                color: #222;
                font-weight: bold;
                &:hover {
                    color: $primary-theme-color;
                    text-decoration: none;
                }
            }
        }
    }
}

.social_icon_list {
    text-align: right;
    @include normal() {
        text-align: center;
        display: block;
    }
    li {
        padding: 20px 15px;
        @include medium() {
            font-size: 14px;
            padding-right: 5px;
            padding-left: 5px;
        }
        a {
            text-align: center;
            color: $primary-theme-color;
            z-index: 1;
            font-size: 1.3em;
            line-height: 2.2em;
            position: relative;
            width: 2em;
            height: 2em;
            display: inline-block;
            background-color: transparent;
            border-radius: 50%;
            @include transition(compact(all 0.5s));
            &:hover {
                background-color:$primary-theme-color;
                color: #fff;
                text-decoration: none;
            }
        }
    }
}

@media (max-width: 991px) {
    footer {
        padding-top: 30px;
        padding-bottom: 70px;
        .loc-container {
            h3 {
                font-size: 1.3em;
            }
        }
    }
}

@media (max-width: 767px) {
    footer {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}