/*--------------------------------------------------------------
Go to top button
--------------------------------------------------------------*/

.go-top {
    position: fixed !important;
    right: 20px;
    bottom: -45px;
    color: #fff;
    /* Normal color*/
    display: block;
    font-size: 22px;
    line-height: 35px;
    text-align: center;
    width: 40px;
    height: 40px;
    visibility: hidden;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    background-color: $primary-theme-color;
    ;
    /* Normal BG color*/
    z-index: 9999;
    cursor: pointer;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.go-top:hover {
    background-color: #111111;
    /* Hover BG color*/
    color: #fff;
    /* Hover color*/
}

.go-top.show {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=1);
    opacity: 1;
    visibility: visible;
    bottom: 50px;
}