section.mobile-screen {
    position: fixed;
    width: 100%;
    background-color: #fff;
    padding: 10px 0;
    z-index: 99;
    @extend .clearfix;
    display: none;
    @include medium() {
        display: block;
    }
    .mobile-menu-wrapper {
        @extend .clearfix;
    }
    .img-responsive {
        max-height: 40px;
        @include small() {
            max-width: 90px;
            margin-top: 4px;
        }
    }
    ul.top-wrapper {
        padding: 0 15px;
        li {
            display: inline-block;
            vertical-align: middle;
            font-family: $bebas-bold;
            a {
                text-decoration: none !important;
                color: $primary-theme-color;
            }
            &:nth-child(2n) {
                float: right;
            }
            &:last-child {
                float: right;
                margin-top: 8px;
            }
        }
    }
    .toggleTopMenu-mobile {
        font-size: 25px;
        width: 23px;
        display: block;
        @include transition(compact(all 0.3s));
        &:before {
            font-family: 'FontAwesome';
            content: '\f0c9';
        }
        transition: all 0.5s ease; //transform: rotate(0deg);
    }
    .toggleTopMenu-mobile.open {
        &:before {
            content: '\f00d';
        } //transform: rotate(180deg);
    } //Top NAV
    .open-menu-mobile {
        height: 100% !important;
    }
    .mobile-menu-wrapper {
        height: 0;
        width: 100%;
        position: fixed;
        z-index: 5;
        top: 58px;
        background-color: $pt-color;
        overflow-y: scroll;
        transition: 0.5s;
    } // ul#mobile-menu {
    //     li {
    //         display: block;
    //         width: 50% !important;
    //         float: left;
    //         outline: solid 1px #eeeeee;
    //         a {
    //             display: block;
    //             color: #ffffff;
    //             text-decoration: none;
    //             padding: 30px 0;
    //             text-align: center;
    //             font-family: $bebas-bold;
    //             font-size: 1.25em !important;
    //             @include transition(compact(all 0.3s));
    //             &:hover {
    //                 background-color: $primary-theme-color;
    //             }
    //         }
    //     }
    // }
    ul#mobile-menu {
        display: flex;
        flex-wrap: wrap;
        li {
            flex-basis: 50%;
            border-bottom: solid 1px #ffffff;
            a {
                display: block;
                color: #ffffff;
                text-decoration: none;
                padding: 30px 0;
                text-align: center;
                font-family: $bebas-bold;
                font-size: 1.25em !important;
                height: 100%;
                @include transition(compact(all 0.3s));
                &:hover {
                    background-color: $primary-theme-color;
                }
            }
        }

        li:nth-child(odd){
            border-right: solid 1px #ffffff;
        }

    }
}

.body-overflow {
    overflow: hidden !important;
}