/* CSS FOR THE MENU----------------------------------------------------------------------------- */

.site-navigation {
    //box-shadow: inset 0 -1px 0 0 hsla(0,0%,100%,.06),0 1px 2px 0 rgba(0,0,0,.4);
    font-family: $bebas-bold;
    font-size: 1.25em !important;
    @include medium() {
        display: none;
    }
    .header-logo .img-responsive {
        max-height: 75px;
        margin-top: 8px;
    }
    .navbar {
        position: relative;
        min-height: 50px;
        margin-bottom: 0px;
        border: 0px solid #333;
        /*Border for navbar*/
        border-radius: 0px;
        /*Main radius navbar*/
    }
    .navbar-default .navbar-nav>li:not(:last-child)>a {
        color: $primary-theme-color;
        padding-top: 25px;
        padding-bottom: 25px;
        padding: 35px 20px;
        
        letter-spacing: 1px;
        background-size: 100% 200%;
        background-image: linear-gradient(to bottom, transparent 50%, #ffffff 50%);
        transition: background-position 0.3s;
        //@extend .hvr-sweep-to-bottom ;
        /* List color in Normal state */
    }
    .navbar-default {
        background-color: transparent;
        /* Background Color for navbar Body*/
    }
    .navbar-default .navbar-nav>.active>a,
    .navbar-default .navbar-nav>.active>a:hover,
    .navbar-default .navbar-nav>.active>a:focus {
        color: #ffffff;
        background-color: $primary-theme-color;
        background-position: 0 -100%;
        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border-top: 3px solid $primary-theme-color;
        }
    }
    .navbar-default .navbar-nav>li:not(:last-child)>a:hover,
    .navbar-default .navbar-nav>li:not(:last-child)>a:focus {
        //color: #ffffff;
        background-position: 0 -100%;
        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            border-top: 3px solid $primary-theme-color;
        }
    }
    .navbar-default .navbar-nav>.open>a,
    .navbar-default .navbar-nav>.open>a:hover,
    .navbar-default .navbar-nav>.open>a:focus {
        color: #fff;
        /* List color for Open Parent of Dropdown*  |  Active, Hover and Focus */
        background-color: #333;
        /* Background color of open parent  |  Active, Hover and Focus*/
        background-position: 0 -100%;
    }
    .sub-menu {
        display: none;
    }
    .menu-item-has-children {
        position: relative;
        a {
            &:after {
                font-family: 'FontAwesome';
                content: '\f107';
                //position:absolute;
                margin-left: 10px;
            }
        }
        ul {
            position: absolute;
            background-color: #ffffff;
            padding: 0px 0px;
            min-width: 250px;
            z-index: 999;
        }
        .sub-menu {
            li {
                display: block;
                
                a {
                    padding: 15px 15px;
                    display: block;
                    color: #222222;
                    @include transition(compact(all 0.5s));
                    &:after {
                        content: '';
                    }
                    &:hover {
                        text-decoration: none;
                        color: #ffffff;
                        background-color: $pt-color;
                       
                    }
                }
            }
            .canada-icon {
                &:before {
                    content: url('includes/canFlag.png');
                    display: inline-block;
                }
            }
            .us-icon {
                &:before {
                    content: url('includes/USFlag.png');
                    display: inline-block;
                }
            }
            .uk-icon {
                &:before {
                    content: url('includes/UKFlag.png');
                    display: inline-block;
                }
            }
        }
    }
    @media (max-width: 991px) {
        .site-navigation {
            font-size: 1em !important;
        }
        .navbar-default .navbar-nav>li:not(:last-child)>a {
            padding: 25px 10px;
            letter-spacing: 1px;
        }
    }
    .mobile-btn {
        position: absolute;
        top: 14px;
        right: 55px;
        display: none;
    }
    @media (max-width: 767px) {
        .mobile-btn {
            display: inline-block;
        }
        #main-menu .book-btn {
            display: none;
        }
        .navbar-default {
            //background-color: #222222;
            /* Background Color for navbar Body*/
        }
        .navbar-nav {
            background-color: #222222;
            padding-bottom: 15px;
        }
        .site-navigation-inner {
            padding-left: 0px !important;
            padding-right: 0px !important;
            .header-logo .img-responsive {
                margin-top: 10px;
                margin-bottom: 10px;
                margin-left: 20px;
            }
        }
        .sub-menu {
            display: block;
        }
        .menu-item-has-children {
            background-color: #222222 !important;
        }
        .menu-item-has-children ul {
            position: relative;
            background-color: #ffffff !important;
        }
    }
}