.home-page-hero-video{
    min-height: 450px;
background-color:#555555 !important;
@include normal(){
    min-height: 200px;
}
}

.et_divi_builder #et_builder_outer_content .et_pb_section_video_bg {
    background-color:transparent !important;
    background-image: linear-gradient(180deg,transparent 20%,#000) !important;

    video{
        position:absolute;
        z-index: -1;
    }
}

.menu-thumbnail{
    .et_pb_main_blurb_image{
        margin-bottom: 15px !important;
    }

    .et_pb_blurb_container{
        margin-top: -59px !important;
        background-color: rgba(80,27,0,0.8) !important;
        display: block !important;
        position: relative!important;
        padding: 5px!important;
        text-align: center!important;

        a{
            color: white !important;
            font-size: 18px !important;
            font-family: $century !important;
            text-transform: uppercase;
        }
        
    }
}