#home-page-template {
    height: 100%;
    padding: 20px;
}

.header-wrapper {
    a {
        color: #fff;
    }
    .header-logo .img-responsive {
        max-height: 70px;
        @include small() {
            max-height: 45px;
        }
    }
    li {
        display: inline-block;
        @media (max-width: 380px) {
            display: block;
            text-align: center;
            img {
                display: block;
                margin: 0 auto;
            }
        }
        &:last-child {
            float: right;
            margin-top: 20px;
            font-family: "bebas-bold" !important;
            font-size: 22px;
            @media (max-width: 380px) {
                float: none;
                clear: both;
                display: block;
                text-align: center;
            }
            @include small() {
                margin-top: 5px;
            }
            @media (max-width: 380px) {
                margin-top: 45px;
            }
        }
    }
}

.logo-container {
    margin-top: 15% !important;
    @include small() {
        margin-top: 85px !important;
    }
    @media (max-width: 380px) {
        margin-top: 50px !important;
    }
    color: #fff !important;
    h1 {
        font-size: 40px !important;
        font-family: "bebas-bold" !important;
        text-transform: uppercase;
        font-weight: thin;
        @include small() {
            font-size: 25px !important;
        }
    }
    ul {
        margin-top: 35px;
        text-align: center;
        display: block;
        @extend .clearfix;
        li {
            display: inline-block;
            margin: 0 20px;
            @include small() {
                width: 50%;
                float: left;
                margin: 0px;
            }
            a {
                color: #ffffff;
            }
        }
    }
}