.location-media-thumb {
    border-radius: 5px !important;
    border: 1px solid #cccccc !important;
    padding: 15px !important;
    .et_pb_main_blurb_image {
        margin-bottom: 10px !important;
        margin-top: -16px!important;
        &:before {
            content: "";
            display: block;
            width: 3em;
            height: 3.8px;
            background-color: #f7141c;
            margin-bottom: 2.2rem;
        }
    }
    h4 {
        font-size: 1.45em;
        a {
            color: #333333;
        }
    }
    h5 {
        margin-top: 10px !important;
        font-size: 1.3em;
        color: #777;
    }
}

.Pricing_table_container {
    border-radius: 5px !important;
    border: 1px solid #cccccc !important;
    padding: 15px !important;
    //min-height: 340px!important;
    margin-bottom: 30px!important;
    h3 {
        color: $primary-theme-color;
        font-size: 1.5em;
        font-family: $bebas-reg;
        margin-bottom: 5% !important;
        letter-spacing: 0.1em;
    }
    h6 {
        color: #999999;
        font-size: 1em;
        font-family: $bebas-bold;
        margin-top: -15px!important;
        margin-bottom: 3% !important;
    }
    table {
        background-color: transparent !important;
        tr {
            border-bottom: 1px solid #ddd !important;
            &:first-child {
                border-top: 1px solid #ddd !important;
            }
        }
        td {
            font-size: 1.05em;
            border-top: none!important;
        }
        td:first-child {
            font-weight: bold;
            border-right: 1px solid #ddd !important;
        }
    }
}

.terms_condition {
    h3 {
        font-size: 1em;
        color: #888888;
    }
    li {
        list-style-type: circle !important;
        padding: 7px;
        margin-left: 15px !important;
        font-size: 1em;
    }
}

.description_con {
    h1 {
        font-size: 1.8em;
        margin-bottom: 0.1em !important;
        letter-spacing: 0.1em;
        &:before {
            content: "";
            display: block;
            width: 1.8em;
            height: 5px;
            background-color: #f7141c;
            margin-bottom: 2.2rem;
        }
    }
    p {
        font-size: 1.05em !important;
        line-height: 1.6;
    }
    h3 {
        font-size: 1.1em;
        margin-bottom: 0.1em !important;
        color: #777;
        letter-spacing: 0.1em;
    }
}

.service_table {
    border-radius: 5px !important;
    border: 1px solid #cccccc !important;
    padding: 15px !important;
    min-height: 100px!important;
    h1 {
        font-size: 1.2em;
        margin-bottom: 0.8em !important;
        letter-spacing: 0.1em;
    }
    table {
        tr {
            border-bottom: 1px solid #ddd !important;
            &:first-child {
                border-top: 1px solid #ddd !important;
            }
        }
        td {
            font-size: 1em;
            border-top: none!important;
            text-transform: capitalize;
            &:before {
                font-family: 'FontAwesome'!important;
                content: '\f05d ';
                padding-right: 10px;
                color: #555555;
            }
        }
    }
}

.address_location {}