@mixin button-variant-darken($color, $background) {
    color: $color;
    background-color: $background;
    @include transition(compact(all 0.5s));
    &:focus,
    &.focus {
        color: $color;
        background-color: darken($background, 20%);
    }
    &:hover {
        color: $color;
        background-color: darken($background, 20%);
    }
}

@mixin button-variant-lighten($color, $background) {
    color: $color;
    background-color: $background;
    @include transition(compact(all 0.5s));
    &:focus,
    &.focus {
        color: $color;
        background-color: lighten($background, 20%);
    }
    &:hover {
        color: $color;
        background-color: lighten($background, 20%);
    }
}

@mixin button-variant-multi($color, $color-hover, $background, $background-hover) {
    color: $color !important;
    background-color: $background !important;
    @include transition(compact(all 0.5s));
    &:focus,
    &.focus {
        color: $color-hover!important;
        background-color: $background-hover!important;
    }
    &:hover {
        color: $color-hover!important;
        background-color: $background-hover!important;
    }
}

@mixin button-variant-transparent($color, $color-hover, $border-color, $border-color-hover, $border-size) {
    color: $color;
    background-color: transparent;
    border: $border-size solid $border-color;
    @include transition(compact(all 0.5s));
    &:focus,
    &.focus {
        color: $color-hover;
        border: $border-size solid $border-color-hover;
    }
    &:hover {
        color: $color-hover;
        border: $border-size solid $border-color-hover;
    }
}

@mixin button-radius($radius) {
    border-radius: $radius;
}

// Button sizes
@mixin button-size($padding-vertical, $padding-horizontal, $font-size, $line-height, $border-radius) {
    padding: $padding-vertical $padding-horizontal !important;
    font-size: $font-size !important;
    line-height: $line-height !important;
    border-radius: $border-radius !important;
}

// Button font Style
@mixin button-font-style($text-transform, $font-weight) {
    text-transform: $text-transform;
    font-weight: $font-weight;
}

// Button Spacing
@mixin button-spacing($margin) {
    margin-top: $margin;
    margin-bottom: $margin;
}

@mixin large {
    @media screen and (max-width: 1199px) {
        @content;
    }
}

@mixin medium {
    @media screen and (max-width: 991px) {
        @content;
    }
}

@mixin normal {
    @media screen and (max-width: 767px) {
        @content;
    }
}

@mixin small {
    @media screen and (max-width: 500px) {
        @content;
    }
}