.current-site-flag {
    position: fixed;
    z-index: 1032;
    @include transition(compact(all 0.3s));
    @include medium() {
        z-index: 999;
    }
    cursor: pointer;
    margin-top: 23px;
    @include medium() {
        margin-top: 18px;
    }
    left: 180px;
    @include small() {
        left: 115px;
    }
    img {
        max-width: 30px;

    }

    i{
        color: #fff;
        font-size: 20px;
            vertical-align: top;
            margin-top: 2px;
            position: relative;
    }
}

#modal-country-switch {
    .modal-dialog {
        margin: 55px auto !important;
    }
    ul {
        text-align: center;
        margin: 15% 2%;
        display: block;
        @extend .clearfix;
        @include small() {
            margin: 1% 1%;
        }
        position: relative;
        li {
            display: inline-block;
            margin: 0 20px;
            @include small() {
                width: 50%;
                text-align: center;
                margin: 0px;
                float: left;
            }
        }
    }
    img {
        max-width: 55px;
    }
}