.trainer-page {
    margin-bottom: 5%;
    margin-top: 30px;
    @include small() {
        margin-top: 50px;
    }
    h1.title {
        text-align: center;
        border-bottom: solid 1px #ddd;
        padding-bottom: 20px;
        margin-bottom: 30px;
        color: $primary-theme-color;
        @include small() {
            font-size: 40px !important;
            margin-bottom: 0px;
            border: none;
        }
    }
}

.nav-tab-wrapper {
    @include medium() {
        margin-top: 25px;
    }
    .tab-content {
        border: solid 1px #ddd;
        padding: 25px 20px;
    }
    .nav-tabs li {
        width: 50%;
    }
    .nav-tabs>li>a {
        font-family: $bebas-bold;
        font-size: 35px;
        border: solid 1px #ddd;
        margin: 0px;
        border-radius: 0px;
        @include medium() {
            font-size: 25px;
        }
        text-align: center;
        color: #777;
        &:hover {
            color: $primary-theme-color;
            background-color: transparent !important;
        }
        &:focus {
            color: $primary-theme-color;
            background-color: transparent !important;
        }
    }
    li.active {
        a {
            color: #fff;
            background-color: $primary-theme-color !important;
            border: solid 1px $primary-theme-color !important;
            &:hover {
                color: #fff;
                background-color: $primary-theme-color !important;
                border: solid 1px $primary-theme-color !important;
            }
            &:focus {
                color: #fff;
                background-color: $primary-theme-color !important;
                border: solid 1px $primary-theme-color !important;
            }
        }
    }
}

.tab-pane {

    p{
      &:first-child > strong{
          margin-top: 0px;
      }
    }
    strong{
        margin-bottom: 10px;
        display: block;
        margin-top: 30px;
    }


    ul li {
        padding: 5px 0;
        list-style-type: circle !important;
        margin-left: 15px;
    }
}

.trainer-module {
    @extend .clearfix;
    margin: 15px 0;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 15px;
    //min-height: 380px;
    @include transition(compact(all 0.5s));
    &__title {
        font-size: 1.55em;
        margin-top: -16px;
        margin-bottom: 10px;
        color: #555;
        &:before {
            content: "";
            display: block;
            width: 2em;
            height: 3.8px;
            background-color: #f7141c;
            margin-bottom: 2.2rem;
            z-index: 99;
        }
    }
    &__img {
        display: block;
        width: 100%;
        overflow: hidden;
        max-height: 350px;
        @include normal() {
            max-width: 220px;
            display: block;
            margin: 0 auto;
        }
    }
    img {
        width: 100% !important;
    }
}

.trainer-module__wrapper {
    text-decoration: none !important;
    @extend .clearfix;
    display: block;
    margin: 5px 50px;
    @include medium() {
        margin: 5px 15px;
    }
}

.trainer-module__wrapper:hover>.trainer-module .trainer-module__title {
    color: $primary-theme-color !important;
    text-decoration: none !important;
}

.trainer-module__wrapper:hover>.trainer-module {
    box-shadow: 0 2px 16px 0 rgba(0, 0, 0, .4);
}

.custom-secondary-header {
    margin-left: 65px;
    @include medium() {
        margin-left: 30px;
    }
}

.hc_footer{
    display: none !important;
}