body {
    font-size: 1.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family:  $bebas-bold;
    line-height: 1.3em;
}

h1 {
    font-size:3.5em;
    @include medium(){
        font-size: 3em;
    }
    @include normal(){
        font-size: 2.2em;
    }
    @include small(){
        font-size: 1.8em;
    }
}

h3{
    @include medium(){
        font-size: 1.2em;
    }
}

p {
    line-height: 1.6em;
    font-size: 1.05em;
}

.primary-header h1 {
    font-size: 3em;
    @include medium() {
        font-size: 2.5em;
        padding-top: 8%;
    }
    @include normal() {
        font-size: 2em;
        padding-top: 10%;
    }
    @include small() {
        font-size: 1.5em;
        padding-top: 15%;
    }
    &:before {
        // content: "";
        // display: block;
        // width: 0.5em;
        // height: 3px;
        // background-color: $pt-color;
        // margin-bottom: 1.25rem;
    }
}

.inner-page-header h1 {
    font-size: 7em;
    @include medium() {
        font-size: 4em;
        padding-top: 13%;
    }
    @include normal() {
        font-size: 3em;
        padding-top: 20%;
    }
    @include small() {
        font-size: 2em;
        padding-top: 55%;
    }
    &:before {
        // content: "";
        // display: block;
        // width: 0.5em;
        // height: 3px;
        // background-color: #f7141c;
        // margin-bottom: 1.25rem;
    }
}

.secondary-header {
    h3 {
        font-size: 2em;
        margin-bottom: 1em !important;
        @include normal() {
            margin-bottom: 5px !important;
        }
        &:before {
            // content: "";
            // display: block;
            // width: 1.8em;
            // height: 3px;
            // background-color: #f7141c;
            // margin-bottom: 2.2rem;
        }
    }
    h4 {
        font-size: 2em;
        letter-spacing: 0.1em;
        line-height: 1.2;
        font-family: $bebas-reg;
        @include small() {
            font-size: 1.5em;
        }
    }
    h5 {
        font-size: 1.7em;
        //letter-spacing: 0.1em;
        line-height: 1.2;
        font-family: $bebas-reg;
    }
}

.para {
    a {
        text-decoration: none;
        border-bottom: solid 3px $primary-theme-color;
        &:hover {
            text-decoration: none;
            color: $primary-theme-color;
        }
    }
}

.news-blog-post {
    h1 {
        font-size: 2em;
        margin-top: 10%;
        margin-bottom: 1em !important;
        @include normal() {
            margin-top: 15%;
        }
        @include small() {
            margin-top: 95px;
            font-size: 1.8em;
        }
        &:before {
            // content: "";
            // display: block;
            // width: 1.8em;
            // height: 3px;
            // background-color: #f7141c;
            // margin-bottom: 2.2rem;
        }
    }
}