/* MAIN THEME COLOR */

$primary-theme-color: #501b00;
$secondary-theme-color: #545454;

$pt-color: #fdb813;

/* PARAGRAPH DEFAULT COLOR */

$paragraph-color: #555555;

/* HEADING COLOR */

$title-main: #333333;
$sub-title: #555555;

/* LINK COLOR */

$link-color: #555555;
$link-hover: #333333;

/* BUTTON */

$btn-theme-color: #ffffff;
$btn-theme-color-bg: blue;